@use '../../mixins';
@use '../../placeholders/lineMenuButton.scss';

.headerPage {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--color-black-1);
	transform: translateY(-100%);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 99;
}

.headerPage.menu-view {
	transform: translateY(0);
}

.headerPage__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 3em;
	margin: 0 auto;
	padding: 1rem 2rem 2.5rem;
	max-width: var(--width-content);
	width: 100%;
	backdrop-filter: blur(50px);
}

.navMenu {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-left: 0;
	text-align: center;
	list-style-type: none;
	gap: 1em;

	&__item {
		color: var(--color-menu-item);
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
	}
}

.navMenu a {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 0.4em 0.75em;

	&::before {
		@include mixins.underline(4px, 0) {
			right: 0;
			margin-left: auto;
			margin-right: auto;
			background-color: var(--color-secondary-alpha-75);
			transition: width 200ms cubic-bezier(0.83, 0.04, 0.7, 1);
		}
	}
}

.logo {
	height: 2.5rem;
	width: auto;
}

.menu {
	--dist-position: 2rem;

	position: fixed;
	bottom: var(--dist-position);
	right: var(--dist-position);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3.4rem;
	background-color: var(--color-secondary);
	border-style: none;
	border-radius: var(--border-radius-10);
	z-index: 100;

	&.collapse .menu__line {
		$color-shadow: transparent;

		box-shadow: 0 0 $color-shadow, 0 0 $color-shadow;
	}

	&__line {
		@extend %menuButtonLine;

		$position-top-line: calc(2 * var(--height-line));
		$position-bottom-line: calc(-2 * var(--height-line));

		box-shadow: 0 $position-top-line var(--color-black-pure),
			0 $position-bottom-line var(--color-black-pure);

		transition: box-shadow 300ms ease-in;
	}
}

.skipNavLinks {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
	background-color: var(--color-black-2-alpha-95);
	color: var(--color-menu-item);
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1.75rem;
	text-align: center;
	opacity: 0;

	&:focus {
		opacity: 1;
		z-index: 1;
	}
}

@media screen and (min-width: 61rem) {
	.header-container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 48.5rem) {
	.headerPage {
		position: static;
		transform: translateY(0%);
	}

	.headerPage__container {
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem 2rem;
	}

	.navMenu__item {
		&:last-child a {
			padding-right: 0;
		}

		&:hover a::before {
			width: 100%;
		}
	}

	.menu {
		visibility: hidden;
	}
}

@media screen and (min-width: 43.8125rem) {
	.navMenu {
		flex-direction: row;
	}
}
