/* Page Header */
.headerPage {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--color-black-1);
	transform: translateY(-100%);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 1;

	&.menu-view {
		transform: translateY(0);
	}

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 3em;
		margin: 0 auto;
		padding: 1rem 2rem 2.5rem;
		max-width: var(--width-content);
		width: 100%;
		backdrop-filter: blur(50px);
	}
}

.headerPage__actions {
	display: flex;
	align-items: center;
	gap: 2.5em;

	&__colorPanel {
		display: flex;
		height: var(--height-nav-item);
		width: 5rem;
		overflow-y: hidden;
		overflow-x: clip;
	}
}

.btnColorScheme {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 auto;
	height: max-content;
	background-color: transparent;
	border-width: 0;
	color: var(--color-menu-item);
	transform-origin: center;
	transition: transform linear 700ms;
	cursor: pointer;

	& svg path {
		stroke: currentColor;
	}

	& svg {
		height: var(--height-nav-item);
		width: var(--height-nav-item);
		padding: 0.4rem;
	}
}

/* Nav Links */
.navMenu {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-left: 0;
	text-align: center;
	list-style-type: none;
	gap: 1em;

	& a {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding: 0.4em 0.75em;

		&::before {
			--height: 0.25rem;
			--width: 0;

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: var(--height);
			width: var(--width);
			border-radius: calc(var(--height) / 2);
			margin-left: auto;
			margin-right: auto;
			background-color: var(--color-secondary-alpha-75);
			transition: width 200ms cubic-bezier(0.83, 0.04, 0.7, 1);
		}
	}

	&__item {
		color: var(--color-menu-item);
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
	}
}

.skipNavLinks {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
	background-color: var(--color-black-2-alpha-95);
	color: var(--color-menu-item);
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1.75rem;
	text-align: center;
	opacity: 0;

	&:focus {
		opacity: 1;
		z-index: 1;
	}
}

/* Logo */
.logo {
	height: 2.5rem;
	width: auto;
}

/* Button Panel */
.asideButtons {
	--dist-position: 2rem;

	position: fixed;
	bottom: calc(4 * var(--dist-position));
	right: var(--dist-position);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 3.4rem;
	z-index: 1;
}

/* Menu Button */
.menuBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 100%;
	background-color: var(--color-secondary);
	border-style: none;
	border-radius: var(--border-radius-10);
	z-index: 100;

	&.collapse &__line {
		--line-burger: 0 0 transparent;

		box-shadow: var(--line-burger), var(--line-burger);
	}

	&__line {
		--height-line: 0.25rem;
		--position-top-line: calc(2 * var(--height-line));
		--position-bottom-line: calc(-2 * var(--height-line));

		position: absolute;
		height: var(--height-line);
		width: 1.8rem;
		background-color: var(--color-black-pure-alpha-80);
		border-radius: calc(var(--height-line) / 2);
		box-shadow: 0 var(--position-top-line) var(--color-black-pure),
			0 var(--position-bottom-line) var(--color-black-pure);
		transition: box-shadow 300ms ease-in;
	}
}

@media screen and (min-width: 61rem) {
	.header-container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 48.5rem) {
	.headerPage {
		transform: translateY(0%);

		&__container {
			flex-direction: row;
			justify-content: space-between;
			padding: 1rem 2rem;
		}
	}

	.navMenu__item {
		height: var(--height-nav-item);

		& a {
			height: 100%;
		}

		&:hover a::before {
			width: 100%;
		}
	}

	.menuBtn {
		display: none;
	}
}

@media screen and (min-width: 43.8125rem) {
	.navMenu {
		flex-direction: row;
	}
}
