.backdropMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

/* Page Header */
.headerPage {
	--height-nav-item: 2.375rem;
	--header-border-width: .125rem;
	--border: solid 0 rgba(255, 255, 255, 0.1);

	position: fixed;
	max-width: var(--width-content);
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: var(--bg-header-page);
	color: var(--color-white);
	border: var(--border);
	visibility: hidden;
	transform: translateY(-100%);
	transition:
		transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
		visibility 0s 0.3s linear;
	will-change: visibility;
	z-index: 3;

	&.menu-view {
		transform: translateY(0);
		visibility: visible;
		transition:
			transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
			visibility 0s 0s linear;

		& + .backdropMenu {
			background-color: var(--color-black-pure-alpha-50);
			backdrop-filter: blur(2px);
			z-index: 2;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 3em;
		margin: 0 auto;
		padding: 0.75rem 2rem;
		max-width: var(--width-content);
		width: 100%;
		backdrop-filter: blur(50px);
	}
}

.headerPage__actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;

	&__colorPanel {
		display: none;
		height: var(--height-nav-item);
		width: 5rem;
		overflow-y: hidden;
		overflow-x: clip;
	}
}

.btnColorScheme {
	--size: 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 0.3125rem 0.3125rem 0.375rem;
	margin: 0 auto;
	height: max-content;
	background-color: transparent;
	border-width: 0;
	color: var(--color-primary);
	transform-origin: center;
	transition: transform linear 700ms;
	cursor: pointer;

	&__icon {
		height: var(--size, --height-nav-item);
		width: var(--size, --height-nav-item);
		color: inherit;
		fill: transparent; 
	}
}

.controlPanelBottom {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.4em 1em;
	width: 100%;
	background-color: var(--color-black-1);
	backdrop-filter: blur(50px);
	z-index: 100;

	& .menuBtn {
		display: flex;
		padding-top: 0;
		padding-bottom: 0;
		width: 3rem;
		height: 2.375rem;
		background-color: transparent;
		cursor: pointer;

		&__line {
			--color-line: var(--color-menu-item);

			background-color: var(--color-line);
		}
	}

	& .headerPage__actions__colorPanel {
		display: flex;

		& .btnColorScheme {
			padding-top: 0;
			padding-bottom: 0;
		}

		& svg {
			--height-nav-item: 2.375rem;

			padding: 0;
		}
	}
}

/* Nav Links */
.navMenu {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-left: 0;
	text-align: center;
	list-style-type: none;
	gap: 1em;

	&__item {
		display: flex;
		position: relative;
		justify-content: center;
		padding: 0.4em 0.75em;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;

		&::before {
			--height: 0.25rem;
			--width: 0;

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: var(--height);
			width: var(--width);
			border-radius: calc(var(--height) / 2);
			margin-left: auto;
			margin-right: auto;
			background-color: var(--navmenu-item-bar);
			transition: width 200ms cubic-bezier(0.83, 0.04, 0.7, 1);
		}
	}
}

.skipNavLinks {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
	background-color: var(--color-black-2-alpha-95);
	color: var(--color-menu-item);
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1.75rem;
	text-align: center;
	opacity: 0;

	&:focus {
		opacity: 1;
		z-index: 100;
	}
}

/* Logo */
.logo {
	height: var(--height-nav-item);
	width: var(--height-nav-item);
	background-image: url('/logo.webp');
	background-size: cover;
}

/* Button Panel */
.asideButtons {
	--dist-position: 2rem;

	position: fixed;
	bottom: calc(4 * var(--dist-position));
	right: var(--dist-position);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 3.4rem;
	z-index: 1;
}

/* Menu Button */
.menuBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 100%;
	background-color: var(--color-secondary);
	border-style: none;
	border-radius: var(--border-radius-10);
	z-index: 100;

	&.collapse &__line {
		--line-burger: 0 0 transparent;

		box-shadow: var(--line-burger), var(--line-burger);
	}

	&__line {
		--height-line: 0.25rem;
		--position-top-line: calc(2 * var(--height-line));
		--position-bottom-line: calc(-2 * var(--height-line));

		position: absolute;
		height: var(--height-line);
		width: 1.8rem;
		background-color: var(--color-line);
		border-radius: calc(var(--height-line) / 2);
		box-shadow:
			0 var(--position-top-line) var(--color-line),
			0 var(--position-bottom-line) var(--color-line);
		transition: box-shadow 300ms ease-in;
	}
}

@media (min-width: 40rem) {
	.menuBtn {
		display: none;
	}
}

@media screen and (min-width: 43.8125rem) {
	.headerPage__actions,
	.navMenu {
		flex-direction: row;
	}
}

@media screen and (min-width: 48.5rem) {
	.headerPage {
		position: sticky;
		top: 0;
		border-bottom-width: var(--header-border-width);
		visibility: visible;
		transform: translateY(0%);

		&__actions__colorPanel {
			display: flex;
		}

		&__container {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.navMenu__item {
		font-size: 1.125rem;
		line-height: 1.5rem;

		&:focus::before,
		&:hover::before {
			width: 100%;
		}
	}

	.controlPanelBottom,
	.menuBtn {
		display: none;
	}

	.btnColorScheme {
		--size: 1.5rem;
		color: currentColor;
	}
}

@media (min-width: 87.5rem){
	.headerPage{
		top: 0.8dvh;
		border-radius: calc((2.3988rem + 1rem * 2) / 2);
		border-width: var(--header-border-width);
	}
}