.introduction {
	&__presentation {
		text-align: center;
	}

	&__greetings {
		margin-bottom: 1.25em;
		max-width: 55ch;
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	&__highlight {
		color: var(--color-highlighted);
		font-weight: 700;
	}

	&__photo {
		--size-photo: 2.25rem;

		width: var(--size-photo);
		height: var(--size-photo);
		border: solid 0 #2b2b2b;
		border-radius: 50%;
		object-fit: cover;
		object-position: center right;
		aspect-ratio: 1/1;
	}

	&__title {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		font-size: 1.75rem;
		line-height: 2.25rem;

		@supports (font-size: clamp(1.875rem, 1.1394rem + 3.2692vw, 4rem)) {
			font-size: clamp(1.875rem, 1.1394rem + 3.2692vw, 4rem);
			line-height: 2.25rem;
		}

		& strong {
			color: var(--color-title);
		}
	}

	&__subtitle {
		margin-bottom: 0.85em;
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@media (min-width: 30rem) {
	.introduction__title {
		line-height: 2.5rem;
	}

	.introduction__subtitle {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

@media (min-width: 36.25rem) {
	.introduction__subtitle {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

@media screen and (min-width: 48.5rem) {
	.introduction__title {
		line-height: 1;
	}
}

@media (min-width: 75rem) {
	.introduction {
		&__presentation {
			text-align: left;
		}

		&__photo {
			--size-photo: 3.75rem;
		}
	}
}
