.introduction {
	&__presentation {
		--gap-right: 0;
		--size-photo: 8rem;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: var(--gap-right);
		margin-bottom: 1.75rem;
		text-align: center;

		& ~ .socialCard{
			--gap-right: 0;
			--size-photo: 8rem;

			margin-left: calc(var(--gap-right) + var(--size-photo));
		}
	}
	

	&__greetings {
		margin-bottom: 1.25em;
		max-width: 55ch;
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	&__highlight {
		color: var(--color-highlighted);
		font-weight: 700;
	}

	&__photo {
		width: var(--size-photo);
		height: var(--size-photo);
		border: solid 0 #2b2b2b;
		border-radius: 50%;
		object-fit: cover;
		object-position: center top;
		aspect-ratio: 1/1;
	}

	&__title {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		font-size: 1.75rem;
		line-height: 2.25rem;

		@supports (font-size: clamp(1.875rem, 1.1394rem + 3.2692vw, 4rem)) {
			font-size: clamp(1.875rem, 1.1394rem + 3.2692vw, 4rem);
			line-height: 2.25rem;
		}

		& strong {
			color: var(--color-title);
		}
	}

	&__subtitle {
		margin-bottom: 0.85em;
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@media (min-width: 30rem) {
	.introduction__title {
		line-height: 2.5rem;
	}

	.introduction__subtitle {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

@media (min-width: 36.25rem) {
	.introduction__subtitle {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

@media screen and (min-width: 48.5rem) {
	.introduction__title {
		line-height: 1;
	}
}

@media (min-width: 75rem) {
	.introduction {
		&__presentation {
			--size-photo: 10rem;
			--gap-right: 3rem;
			
			flex-direction: row;
			text-align: left;
			
			& ~ .socialCard {
				--size-photo: 10rem;
				--gap-right: 3.5rem;
				margin-left: calc(var(--size-photo) + var(--gap-right));
			}
		}

		&__photo {
			margin-right: 3.5rem;
		}
	}
}
