@use '../../mixins/mixins';

$sideFoto: calc(var(--width-dataBar) - 2rem);

.barData {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-dataBar-grey);
  transition: left 0.3s ease-in-out;
  z-index: 1;

  &.view {
    left: 0;
  }

  &__photo {
    @include mixins.sides($sideFoto, $sideFoto);
    border-radius: 100%;
    box-shadow: 1px -1px 2px var(--color-white), 1px 1px 2px var(--color-white);
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top right;
    object-position: top right;
  }

  &__navbar {
    padding: 1rem 0;
    color: var(--color-white);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: var(--width-dataBar);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
  gap: 1.5rem 0;

  &__section {
    display: block;
    padding: 0.6rem 0;
    font-size: 1.1rem;
    font-family: 'Radio Canada', -apple-system, Helvetica, Verdana, Arial;
    text-align: center;
  }
}

.line {
  @include mixins.sides($sideFoto, 1px);
  background: linear-gradient(
    to left,
    transparent 1%,
    var(--color-white) 25% 75%,
    transparent 99%
  );
}

.socialCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  gap: 0 2rem;

  &__button {
    padding: 0;
    background-color: transparent;
    border-style: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }
}

.isActive {
  background-color: var(--color-background-tab);
}
