@use '../../placeholder/bottomLine';

$logo: '/assets/image.png';

.barData {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  max-width: var(--width-content);
  width: 100%;
  background-color: var(--color-primary-alpha-75);
  border-bottom-left-radius: var(--border-radius-16);
  border-bottom-right-radius: var(--border-radius-16);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  z-index: 1;

  &.view {
    left: 0;
  }

  &__logo {
    $sizes: 3rem;

    position: relative;
    width: $sizes;
    height: $sizes;
    border-radius: 100%;
    box-shadow: 0 0 12px 4px var(--color-purple);
    perspective: 1000px;
    overflow: hidden;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &::after {
      left: -100%;
      background-image: radial-gradient(
        circle at right,
        var(--color-light-purple) 10%,
        var(--color-purple) 40%,
        var(--color-dark-purple)
      );
    }

    &::before {
      left: 100%;
      background-image: radial-gradient(
        circle at right,
        var(--color-light-purple) 10%,
        var(--color-purple) 40%,
        var(--color-dark-purple)
      );
      transform: rotate(0.5turn);
    }

    &:hover {
      &::after {
        -webkit-animation: 10s ease-in-out 0s infinite eyelidLeft;
        animation: 10s ease-in-out 0s infinite eyelidLeft;
      }
      &::before {
        -webkit-animation: 10s ease-in-out 0s infinite eyelidRight;
        animation: 10s ease-in-out 0s infinite eyelidRight;
      }
    }
  }

  &__navbar {
    padding: 1rem 0;
  }
}

.logoImg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url($logo) 0 2px / cover no-repeat;
  transform: translate(-50%, -50%);
  z-index: 1;

  &::before {
    content: '';
    background-color: var(--color-black-pure);
    border-radius: 0 100%;
  }
}

.barData__logo:hover {
  .logoImg {
    width: 200%;
    height: 200%;
    background: radial-gradient(
      circle at center,
      var(--color-orange),
      var(--color-dark-orange-eye) 45%,
      var(--color-dark-red-eye) 65%
    );
    transform-style: preserve-3d;
    -webkit-animation: 3s ease-in-out 800ms infinite eyeMoves;
    animation: 3s ease-in-out 800ms infinite eyeMoves;
  }
  .logoImg::before {
    height: 25%;
    width: 25%;
    box-shadow: 0 0 8px 6px var(--color-dark-yello-eye);
    transform: rotate(45deg);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
  gap: 1.5rem;

  &__section {
    position: relative;
    display: block;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    font-family: 'Radio Canada', -apple-system, Helvetica, Verdana, Arial;
    text-align: center;

    &:hover {
      &::before {
        @extend %bottomLine;
        bottom: -10px;
      }
    }
  }
}

.socialCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  gap: 0 2rem;

  &__button {
    padding: 0;
    background-color: transparent;
    border-style: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }
}

.isActive {
  background-color: var(--color-line-section);
  border-radius: var(--border-radius-8);
}

@-webkit-keyframes eyelidLeft {
  0% {
    left: -100%;
  }
  2% {
    left: -50%;
  }
  4% {
    left: -100%;
  }
  6% {
    left: -50%;
  }
  8% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes eyelidLeft {
  0% {
    left: -100%;
  }
  2% {
    left: -50%;
  }
  4% {
    left: -100%;
  }
  6% {
    left: -50%;
  }
  8% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes eyelidRight {
  0% {
    left: 100%;
  }
  2% {
    left: calc(50% - 1px);
  }
  4% {
    left: 100%;
  }
  6% {
    left: calc(50% - 1px);
  }
  8% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes eyelidRight {
  0% {
    left: 100%;
  }
  2% {
    left: calc(50% - 1px);
  }
  4% {
    left: 100%;
  }
  6% {
    left: calc(50% - 1px);
  }
  8% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes eyeMoves {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-40%, -35%) rotateX(10deg) rotateY(30deg);
  }
  50% {
    transform: translate(-65%, -50%) rotateX(-15deg) rotateY(-30deg);
  }
  75% {
    transform: translate(-45%, -45%) rotateX(-10deg) rotateY(-35deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes eyeMoves {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-40%, -35%) rotateX(10deg) rotateY(30deg);
  }
  50% {
    transform: translate(-65%, -50%) rotateX(-15deg) rotateY(-30deg);
  }
  75% {
    transform: translate(-45%, -45%) rotateX(-10deg) rotateY(-35deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
