@use '../../mixins/mixins';

$sideFoto: calc(var(--width-dataBar) - 2rem);

.barData {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
  background-color: var(--color-gray-alpha-75);
  border-bottom-left-radius: var(--border-radius-16);
  border-bottom-right-radius: var(--border-radius-16);
  z-index: 1;

  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    background-color: transparent;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }

  &.view {
    left: 0;
  }

  &__logo {
    $sizes: 3rem;

    position: relative;
    width: $sizes;
    height: $sizes;
    border-radius: 100%;
    border: solid 2px purple;
    perspective: 1000px;
    overflow: hidden;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &::after {
      left: -100%;
      background-image: radial-gradient(
        circle at right,
        rgb(179, 16, 179) 10%,
        rgb(102, 3, 102) 40%,
        rgb(68, 0, 68)
      );
    }

    &::before {
      left: 100%;
      background-image: radial-gradient(
        circle at right,
        rgb(179, 16, 179) 10%,
        rgb(102, 3, 102) 40%,
        rgb(68, 0, 68)
      );
      transform: rotate(0.5turn);
    }

    &:hover {
      &::after {
        -webkit-animation: 10s ease-in-out 0s infinite eyelidLeft;
        animation: 10s ease-in-out 0s infinite eyelidLeft;
      }
      &::before {
        -webkit-animation: 10s ease-in-out 0s infinite eyelidRight;
        animation: 10s ease-in-out 0s infinite eyelidRight;
      }
    }
  }

  &__navbar {
    padding: 1rem 0;
  }
}

.logoImg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url('/assets/image.png') 0 2px / cover no-repeat;
  transform: translate(-50%, -50%);
  z-index: 1;

  &::before {
    content: '';
    background-color: #000;
    border-radius: 0 100%;
  }
}

.barData__logo:hover {
  .logoImg {
    width: 200%;
    height: 200%;
    background: radial-gradient(
      circle at center,
      rgb(224, 80, 8),
      rgb(196, 39, 4) 45%,
      rgb(144, 7, 5) 65%
    );
    transform-style: preserve-3d;
    -webkit-animation: 3s ease-in-out 400ms infinite eyeMoves;
    animation: 3s ease-in-out 400ms infinite eyeMoves;
  }
  .logoImg::before {
    height: 25%;
    width: 25%;
    box-shadow: 0 0 8px 6px rgb(205, 174, 0);
    transform: rotate(45deg);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
  gap: 1.5rem;

  &__section {
    display: block;
    padding: 0.6rem 0;
    font-size: 1.1rem;
    font-family: 'Radio Canada', -apple-system, Helvetica, Verdana, Arial;
    text-align: center;
  }
}

.line {
  @include mixins.sides($sideFoto, 1px);
  background: linear-gradient(
    to left,
    transparent 1%,
    var(--color-white) 25% 75%,
    transparent 99%
  );
}

.socialCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  gap: 0 2rem;

  &__button {
    padding: 0;
    background-color: transparent;
    border-style: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }
}

.isActive {
  background-color: var(--color-background-tab);
}

@-webkit-keyframes eyelidLeft {
  0% {
    left: -100%;
  }
  2% {
    left: -50%;
  }
  4% {
    left: -100%;
  }
  6% {
    left: -50%;
  }
  8% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes eyelidLeft {
  0% {
    left: -100%;
  }
  2% {
    left: -50%;
  }
  4% {
    left: -100%;
  }
  6% {
    left: -50%;
  }
  8% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes eyelidRight {
  0% {
    left: 100%;
  }
  2% {
    left: calc(50% - 1px);
  }
  4% {
    left: 100%;
  }
  6% {
    left: calc(50% - 1px);
  }
  8% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes eyelidRight {
  0% {
    left: 100%;
  }
  2% {
    left: calc(50% - 1px);
  }
  4% {
    left: 100%;
  }
  6% {
    left: calc(50% - 1px);
  }
  8% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes eyeMoves {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-40%, -35%) rotateX(10deg) rotateY(30deg);
  }
  50% {
    transform: translate(-65%, -50%) rotateX(-15deg) rotateY(-30deg);
  }
  75% {
    transform: translate(-45%, -45%) rotateX(-10deg) rotateY(-35deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes eyeMoves {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-40%, -35%) rotateX(10deg) rotateY(30deg);
  }
  50% {
    transform: translate(-65%, -50%) rotateX(-15deg) rotateY(-30deg);
  }
  75% {
    transform: translate(-45%, -45%) rotateX(-10deg) rotateY(-35deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
