/* Animation eye barData */
@-webkit-keyframes eyelidLeft {
  0% {
    left: -100%;
  }
  2% {
    left: -50%;
  }
  4% {
    left: -100%;
  }
  6% {
    left: -50%;
  }
  8% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes eyelidLeft {
  0% {
    left: -100%;
  }
  2% {
    left: -50%;
  }
  4% {
    left: -100%;
  }
  6% {
    left: -50%;
  }
  8% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes eyelidRight {
  0% {
    left: 100%;
  }
  2% {
    left: calc(50% - 1px);
  }
  4% {
    left: 100%;
  }
  6% {
    left: calc(50% - 1px);
  }
  8% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes eyelidRight {
  0% {
    left: 100%;
  }
  2% {
    left: calc(50% - 1px);
  }
  4% {
    left: 100%;
  }
  6% {
    left: calc(50% - 1px);
  }
  8% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes eyeMoves {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-40%, -35%) rotateX(10deg) rotateY(30deg);
  }
  50% {
    transform: translate(-65%, -50%) rotateX(-15deg) rotateY(-30deg);
  }
  75% {
    transform: translate(-45%, -45%) rotateX(-10deg) rotateY(-35deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes eyeMoves {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-40%, -35%) rotateX(10deg) rotateY(30deg);
  }
  50% {
    transform: translate(-65%, -50%) rotateX(-15deg) rotateY(-30deg);
  }
  75% {
    transform: translate(-45%, -45%) rotateX(-10deg) rotateY(-35deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

/* Arrow */
@-webkit-keyframes viewArrow {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes viewArrow {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Animation of card images */
@-webkit-keyframes changeTwoImages {
  0% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeTwoImages {
  0% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes changeThreeImages {
  0% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  46% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeThreeImages {
  0% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  46% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes changeThreeImages_2 {
  0% {
    opacity: 0;
  }
  13% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  46% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeThreeImages_2 {
  0% {
    opacity: 0;
  }
  13% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  46% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes changeFourImages {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeFourImages {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes changeFourImages_2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeFourImages_2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes changeFourImages_3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeFourImages_3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
