/* Reduced Motion */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  .arrow {
    -webkit-animation: none;
    animation: none;
  }

  .bubble1,
  .bubble2,
  .bubble3,
  .bubble4,
  .bubble5 {
    -webkit-animation: none;
    animation: none;
  }
}
