/* Reduced Motion */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  .arrow {
    -webkit-animation: none;
    animation: none;
  }

  .bubble1,
  .bubble2,
  .bubble3,
  .bubble4,
  .bubble5 {
    -webkit-animation: none;
    animation: none;
  }
}

/* max-width */

@media screen and (max-width: 56rem) {
  body {
    grid-template-columns: 1fr;
  }

  .section__theme {
    min-height: auto;
  }

  .barData {
    position: fixed;
    left: -100%;
  }

  .menu {
    visibility: visible;
  }
}

@media screen and (max-width: 47rem) {
  .aboutMePhoto {
    display: block;
  }

  .skillsWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 27rem) {
  main {
    padding: 0 1rem 2rem;
  }

  .glass_info {
    padding: 1rem 1.5rem;
  }

  .text__title {
    font-size: 1.1rem;
  }
}
