@use '../../mixins';

.introduction {
  &-img {
    --size-img: 250px;

    width: var(--size-img);
    height: var(--size-img);
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 31.25rem;
    flex-grow: 1;
    text-align: center;
  }

  &-title {
    font-size: 2rem;
    line-height: 2.5rem;

    & span {
      display: block;
    }
  }

  &-subtitle {
    --line-height: 2.25rem;

    overflow-wrap: anywhere;
    font-size: 1.6rem;
    line-height: var(--line-height);
    color: var(--color-crypted-text);
    transition: color 300ms;
    height: calc(var(--line-height) * 2);
  }
}

main .section:last-child {
  margin-top: 2.5rem;
  padding-bottom: calc(var(--padding) + 1.5rem);
  min-height: auto;

  & .section-paragraph {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 40ch;
  }

  & address {
    color: var(--color-primary);
  }
}

.section {
  --padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--width-content);
  width: 100%;
  margin: 0 auto;
  padding: var(--padding);
  font-family: 'Poppins', sans-serif;

  &-introduction {
    max-width: 56.25rem;
    min-height: 100vh;
  }

  &-paragraph {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  &-text {
    max-width: 60ch;
    width: 100%;
  }

  &-knowledges {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 0;
    margin: 0;
    max-width: 43.75rem;
    list-style-type: none;
  }

  &-title {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: sans-serif;
    font-size: 2.25rem;
    line-height: 2.75rem;

    &::before {
      @include mixins.underline(4px, 100%) {
        bottom: 0.075em;
        background-color: var(--color-secondary);
      }
    }
  }
}

@media screen and (min-width: 61rem) {
  .section {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 48.5rem) {
  .section-introduction {
    flex-direction: row;
    min-height: auto;
    height: calc(100vh - 4.5rem);
    justify-content: space-between;
    gap: 1.6rem;
  }

  .introduction-text {
    text-align: left;
  }

  .introduction-title-name {
    font-size: 2.75rem;
    line-height: 1;
  }

  .introduction-subtitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 36.25rem) {
  .section-title {
    &::after,
    &::before {
      --height: 4px;
      --width: 10vw;

      content: '';
      position: absolute;
      top: 50%;
      left: auto;
      bottom: auto;
      height: var(--height);
      max-width: 400px;
      width: var(--width);
      background-color: var(--color-secondary-alpha-75);
      border-radius: calc(var(--height) / 2);
    }

    &::after {
      left: calc(-1 * (var(--width) + 0.5em));
    }

    &::before {
      right: calc(-1 * (var(--width) + 0.5em));
    }
  }
}
