.introduction {
	max-width: 56.25rem;
	min-height: 100vh;

	&__img {
		--size-img: 15.625rem;

		width: var(--size-img);
		height: var(--size-img);
		border-radius: 50%;
		object-fit: cover;
		object-position: center right;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 31.25rem;
		flex-grow: 1;
		text-align: center;
	}

	&__title {
		font-size: 2rem;
		line-height: 2.5rem;

		& :is(span) {
			display: block;
		}
	}

	&__subtitle {
		--line-height: 2.25rem;

		overflow-wrap: anywhere;
		font-size: 1.6rem;
		line-height: var(--line-height);
		color: var(--color-crypted-text);
		transition: color 300ms;
		height: calc(var(--line-height) * 2);
	}
}

.section {
	--padding: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: var(--width-content);
	width: 100%;
	margin: 0 auto;
	padding: var(--padding);
	font-family: 'Poppins', sans-serif;

	& :is(address) {
		color: var(--color-primary);
	}

	& :is(address, .section__paragraph) {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	&_min-h-screen {
		min-height: 100vh;
	}

	&__knowledges {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		padding-left: 0;
		margin: 0;
		max-width: 43.75rem;
		list-style-type: none;
	}

	&__text {
		max-width: 60ch;
		width: 100%;
	}

	&__title {
		position: relative;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 1.5em;
		font-family: sans-serif;
		font-size: 2.55rem;
		line-height: 1;

		&::before {
			--height: 0.25rem;
			--width: 100%;

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: var(--height);
			width: var(--width);
			border-radius: calc(var(--height) / 2);
		}
	}

	main &:last-child {
		margin-top: 2.5rem;
		padding-bottom: calc(var(--padding) + 1.5rem);
		min-height: auto;

		& :is(.section__paragraph, address) {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: 40ch;
		}
	}
}

@media screen and (min-width: 80rem) {
	.section {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 48.5rem) {
	.introduction {
		flex-direction: row;
		min-height: auto;
		height: calc(100vh - 4.5rem);
		justify-content: space-between;
		gap: 1.6rem;

		&__text {
			text-align: left;
		}

		&__title :is(span:last-child) {
			font-size: 2.75rem;
			line-height: 1;
		}

		&__subtitle {
			font-size: 2rem;
		}
	}

	.section__title {
		font-size: 3rem;
	}
}

@media screen and (min-width: 36.25rem) {
	.section__title {
		&::after,
		&::before {
			--height: 0.25rem;
			--width: 10vw;

			content: '';
			position: absolute;
			top: 50%;
			left: auto;
			bottom: auto;
			height: var(--height);
			max-width: 25rem;
			width: var(--width);
			background-color: var(--color-secondary-alpha-75);
			border-radius: calc(var(--height) / 2);
		}

		&::after {
			left: calc(-1 * (var(--width) + 0.5em));
		}

		&::before {
			right: calc(-1 * (var(--width) + 0.5em));
		}
	}
}
