.section {
	--padding: 2rem;

	position: relative;
	display: grid;
	padding: 4.5rem 1rem 2rem;
	margin: 0 auto;
	max-width: var(--width-content);
	width: 100%;
	font-family: 'Poppins', sans-serif;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	&__text {
		max-width: 60ch;
		width: 100%;

		& + .socialCard {
			margin-top: 1rem;
		}
	}

	&__title {
		position: relative;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 2.5em;
		font-family: sans-serif;
		font-size: 2.55rem;
		line-height: 1;
		-webkit-box-reflect: below -0.125rem linear-gradient(transparent 0%, #fff);

		&::before {
			--height: 0.25rem;
			--width: 100%;

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: var(--height);
			width: var(--width);
			border-radius: calc(var(--height) / 2);
		}
	}
}

/* Section - Introduction */
.section__introduction {
	position: relative;
	grid-template-areas:
		'photoInfo'
		'presentation';
	place-content: center;
	align-items: center;
	gap: 2.5rem;
	max-height: 100vh;

	&:first-child {
		height: calc(100vh - 3.1875rem);
	}
}

/* Section - About me */
.section__aboutMe {
	grid-template-areas:
		'title'
		'image'
		'description';
	grid-template-rows: repeat(2, min-content) 1fr;
	column-gap: 4.5rem;
	place-items: center;
}

/* Section - Projects */
.section__projects {
	overflow-x: hidden;
}

/* Section - Contact */
.section__contact {
	place-items: center;
	padding-bottom: 6rem;
}

@media screen and (min-width: 36.25rem) {
	.section__projects {
		overflow-x: visible;
	}

	.section__title {
		&::after,
		&::before {
			--height: 0.25rem;
			--width: 7.5rem;

			content: '';
			position: absolute;
			top: 50%;
			left: auto;
			bottom: auto;
			height: var(--height);
			width: var(--width);
			background-color: var(--color-secondary-alpha-75);
			border-radius: calc(var(--height) / 2);
			-webkit-box-reflect: below 1.875rem linear-gradient(transparent 0%, #fff);
		}

		&::after {
			left: calc(-1 * (var(--width) + 0.5em));
		}

		&::before {
			right: calc(-1 * (var(--width) + 0.5em));
		}

		&_largeReflectionSeparation {
			-webkit-box-reflect: below 0.5rem linear-gradient(transparent 0%, #fff);

			&:after,
			&:before {
				-webkit-box-reflect: below 2.75rem linear-gradient(transparent 0%, #fff);
			}
		}
	}
}

@media screen and (min-width: 48.5rem) {
	.section {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.section__introduction:first-child {
		height: calc(100dvh - 4.4375rem);
	}
}

@media (min-width: 54.375rem) {
	.section:not(:last-child) {
		margin-bottom: 10rem;
	}

	.section__title {
		-webkit-box-reflect: below -0.125rem linear-gradient(transparent 0%, #fff);

		&:after,
		&:before {
			-webkit-box-reflect: below 2rem linear-gradient(transparent 0%, #fff);
		}

		&_largeReflectionSeparation {
			-webkit-box-reflect: below 0.5rem linear-gradient(transparent 0%, #fff);

			&:after,
			&:before {
				-webkit-box-reflect: below 2.75rem linear-gradient(transparent 0%, #fff);
			}
		}
	}
}

@media (min-width: 73.75rem) {
	.section__aboutMe {
		grid-template-areas:
			'title title'
			'image description';
		grid-template-columns: minmax(22.5rem, 28.125rem) 1fr;
		grid-template-rows: min-content 1fr;
	}
}

@media (min-width: 75rem) {
	.section__introduction {
		grid-template-areas: 'presentation photoInfo';
		grid-template-columns: 1fr minmax(22.5rem, 28.125rem);
		max-height: 80vh;
		max-height: 80dvh;
	}
}

@media screen and (min-width: 100rem) {
	.section__title {
		font-size: 4.5rem;
		-webkit-box-reflect: below -0.875rem linear-gradient(transparent 0%, #fff);

		&:after,
		&:before {
			-webkit-box-reflect: below 3.5rem linear-gradient(transparent 0%, #fff);
		}

		&_largeReflectionSeparation {
			-webkit-box-reflect: below 0.8125rem linear-gradient(transparent 0%, #fff);

			&:after,
			&:before {
				-webkit-box-reflect: below 4.75rem linear-gradient(transparent 0%, #fff);
			}
		}
	}

	.section__contact .socialCard__link {
		--size-icon: 4rem;
	}
}
