.section {
	--padding: 2rem;

	display: grid;
	padding: 0 2rem;
	margin: 0 auto;
	max-width: var(--width-content);
	width: 100%;
	padding: 0 var(--padding);
	font-family: 'Poppins', sans-serif;

	&:not(:last-child) {
		margin-bottom: 10rem;
	}

	&__text {
		max-width: 60ch;
		width: 100%;

		& + .socialCard {
			margin-top: 1rem;
		}
	}

	&__title {
		position: relative;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 2.5em;
		font-family: sans-serif;
		font-size: 2.55rem;
		line-height: 1;
		-webkit-box-reflect: below 0.25rem linear-gradient(transparent 0%, #fff);

		&::before {
			--height: 0.25rem;
			--width: 100%;

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: var(--height);
			width: var(--width);
			border-radius: calc(var(--height) / 2);
		}
	}
}

/* Section - Introduction */
.section__introduction {
	position: relative;
	grid-template-areas: 'presentation photoInfo';
	grid-template-columns: 1fr minmax(22.5rem, 28.125rem);
	place-content: center;
	align-items: center;
	gap: 4.5rem;
	max-height: 80vh;
	max-height: 80dvh;

	&::before {
		--r-circle: 10vw;

		content: '';
		position: absolute;
		bottom: 40%;
		left: 62%;
		display: block;
		width: var(--r-circle);
		max-width: 25rem;
		max-height: 25rem;
		height: var(--r-circle);
		background-image: radial-gradient(circle at center, #0bcddb 40%, transparent);
		border-radius: 50%;
		filter: saturate(2) blur(65px) brightness(1.2);
		animation: 3s linear 0s infinite running light;
		z-index: -1;
	}

	&:first-child {
		height: calc(100dvh - 4.4375rem);
	}

	&_presentation {
		grid-area: presentation;
	}

	&__greetings {
		margin-bottom: 1.25em;
		max-width: 55ch;
		font-size: 1.25rem;
		font-size: clamp(1.125rem, 0.9401rem + 0.8219vw, 1.875rem);
		line-height: 1.75rem;
	}

	&__highlight {
		color: var(--color-primary);
		font-weight: 700;
	}

	&_photo-info {
		grid-area: photoInfo;

		position: relative;
		max-width: 100%;
		height: auto;
		background-image: url('/src/assets/images/userdata.png');
		background-size: cover;
		border: solid 2px #2b2b2b;
		border-radius: var(--border-radius-8);
		aspect-ratio: 4/3;
	}

	&__img {
		--size-info: 28.125rem;

		position: absolute;
		top: 100%;
		right: 8%;
		width: calc(0.3 * var(--size-info));
		height: calc(0.3 * var(--size-info));
		transform: translate(0, -40%);
		border: solid 0.5rem #2b2b2b;
		border-radius: 50%;
		object-fit: cover;
		object-position: center right;
		aspect-ratio: auto;
	}

	&__text {
		margin-bottom: 1.25em;
		max-width: 55ch;
		font-size: 1.25rem;
		font-size: clamp(1.125rem, 0.9401rem + 0.8219vw, 1.875rem);
		line-height: 1.75rem;
	}

	&__title {
		margin-top: 0.25em;
		font-size: 2.5rem;
		font-size: clamp(2.5rem, 2.1667rem + 1.4815vw, 4rem);

		& strong {
			background-clip: text;
			background-image: linear-gradient(105deg, #75eff8 40%, #0bcddb);
			color: transparent;
		}
	}

	&__subtitle {
		margin-bottom: 0.85em;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

/* Section - About me */
.section__aboutMe {
	grid-template-areas:
		'title title'
		'image description';
	grid-template-columns: minmax(22.5rem, 28.125rem) 1fr;
	grid-template-rows: min-content 1fr;
	column-gap: 4.5rem;

	&__title {
		grid-area: title;
		width: fit-content;
		place-self: center;
	}

	&__img {
		grid-area: image;
		align-self: center;
		border-radius: 1rem;
	}

	&__description {
		grid-area: description;
		max-width: 55ch;
		font-size: 1.25rem;
		font-size: clamp(1.125rem, 0.9952rem + 0.5769vw, 1.5rem);
		line-height: 1.75rem;
	}

	&__paragraph:not(:last-child) {
		margin-bottom: 1em;
	}

	& a {
		text-decoration: underline;
	}

	&__highlight {
		color: var(--color-primary);
		font-style: normal;
		font-weight: 700;
	}
}

/* Section - Projects */
.section__projects {
	&__title {
		width: fit-content;
		place-self: center;
	}

	&__projectList {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15.625rem, 21.875rem));
		gap: 4rem;
		place-content: center;
		width: 100%;
		list-style-type: none;
		overflow-y: hidden;
	}
}

/* Section - Contact */
.section__contact {
	place-items: center;
	padding-bottom: 6rem;

	&__title {
		width: fit-content;
	}

	&__text {
		max-width: 55ch;
		font-size: 1.25rem;
		font-size: clamp(1.125rem, 0.9952rem + 0.5769vw, 1.5rem);
		line-height: 1.75rem;
	}

	&__paragraph:not(:last-child) {
		margin-bottom: 1em;
	}

	&__address {
		margin-bottom: 2em;
		color: var(--color-primary);
	}
}

@media screen and (min-width: 36.25rem) {
	.section__title {
		&::after,
		&::before {
			--height: 0.25rem;
			--width: 10vw;

			content: '';
			position: absolute;
			top: 50%;
			left: auto;
			bottom: auto;
			height: var(--height);
			max-width: 25rem;
			width: var(--width);
			background-color: var(--color-secondary-alpha-75);
			border-radius: calc(var(--height) / 2);
			-webkit-box-reflect: below 2.875rem linear-gradient(transparent 0%, #fff);
		}

		&::after {
			left: calc(-1 * (var(--width) + 0.5em));
		}

		&::before {
			right: calc(-1 * (var(--width) + 0.5em));
		}
	}
}

@media (min-width: 50rem) {
	.section__introduction__greetings,
	.section__introduction__text {
		line-height: 2.25rem;
	}

	.section__aboutMe__description {
		line-height: 2rem;
	}
}

@media screen and (min-width: 100rem) {
	.section__title {
		font-size: 4.5rem;
		-webkit-box-reflect: below 0.4rem linear-gradient(transparent 0%, #fff);

		&:after,
		&:before {
			-webkit-box-reflect: below 4.5rem linear-gradient(transparent 0%, #fff);
		}
	}

	.section__projects__projectList {
		grid-template-columns: repeat(auto-fit, minmax(18.75rem, 26.875rem));
	}

	.section__contact .socialCard__link {
		--size-icon: 4rem;
	}
}

@keyframes light {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}
}
