.aboutMe {
	&__title {
		width: fit-content;
		place-self: center;
	}

	&__container{
		display: flex;
		flex-direction: column;
		gap: 2.5em;
		justify-content: space-evenly;
	}

	&__containerImage {
		--frame-color: var(--color-highlighted);
		--width: 0.5rem;
		--length: 4.6875rem;
		--border-length: calc(100% - var(--length));
		--border-width: calc(100% - var(--width));
		--height-img: 25rem;

		width: fit-content;
		align-self: center;
		height: calc(2 * var(--width) + var(--height-img));
		background-color: var(--frame-color);
		border-radius: var(--border-radius-16);
		border: solid var(--width) var(--frame-color);
		clip-path: polygon(
			0 0,
			var(--length) 0,
			var(--length) var(--border-width),
			var(--border-length) var(--border-width),
			var(--border-length) 0,
			100% 0,
			100% var(--length),
			calc(100% - var(--border-width)) var(--length),
			calc(100% - var(--border-width)) var(--border-length),
			100% var(--border-length),
			100% 100%,
			var(--border-length) 100%,
			var(--border-length) calc(100% - var(--border-width)),
			var(--length) calc(100% - var(--border-width)),
			var(--length) 100%,
			0 100%,
			0 var(--border-length),
			var(--border-width) var(--border-length),
			var(--border-width) var(--length),
			0 var(--length),
			0 0
		);
		order: 1;
	}

	&__img {
		border-radius: var(--border-radius-16);
		object-fit: cover;
	}

	&__description {
		max-width: 55ch;
		text-wrap: balance;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	&__paragraph {
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}

@media (min-width: 73.75rem) {
	.aboutMe__container{
		flex-direction: row;
	}

	.aboutMe__containerImage{
		order: 0;
	}

	.aboutMe__paragraph {
		text-align: left;
	}
}
