.wrapperCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 2.5rem;
}

.card {
  display: grid;
  grid-template-rows: max-content auto;
  max-width: 350px;
  width: 100%;
  background-color: var(--color-black-1);
  font-family: 'Poppins', sans-serif;
  border-radius: var(--border-radius-8);
  overflow: hidden;
  box-shadow: 0 2px 5px var(--shadow-color-1-card-project),
    0 2px 10px var(--shadow-color-2-card-project);

  &-description {
    padding: 1.4em;
    display: flex;
    flex-direction: column;

    & em,
    & strong {
      color: var(--color-primary);
    }

    & em {
      font-weight: bold;
      font-style: normal;
    }
  }

  &-containerImg {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: auto 2/1;
  }

  &-img {
    --z: 1;

    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
    transition: top 300ms;

    &.active {
      top: 0;
      box-shadow: 0 2px 10px var(--color-black-pure-alpha-50);
      z-index: calc(var(--z) + 1);
    }

    &.start-out {
      z-index: var(--z);
    }
  }
}

.card-title {
  margin-top: 0;
  font-size: 1.4rem;
  line-height: 30px;
}

.card-text .card-paragraph:last-child {
  margin-bottom: 1.125em;
}

.card-paragraph {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
  line-height: 1.5rem;
}

.card-links {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  gap: 1rem;
}
