.wrapperCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  place-content: center;
  padding: 0 1.5rem;
  gap: 2rem;
}

.card {
  position: relative;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &:hover {
    .card__text {
      bottom: 0;
    }
  }

  &__text {
    position: absolute;
    bottom: -11.25rem;
    background-color: var(--color-background-text-card);
    width: 100%;
    padding: 0.8rem;
    transition: bottom 0.3s ease-in-out;
  }
}

.text {
  &__title {
    display: flex;
    align-items: stretch;
    margin: 0;
    font-size: 1.17rem;

    &_link {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      width: 1.25rem;
      margin-left: 1.4rem;
    }
  }

  &__desc {
    margin: 0.5rem 0 0;
    line-height: 140%;
  }
}
