@use '../../mixins/animationBackgroundImg' as bgImg;

@use '../../lists/cards';
@use '../../placeholder/efectGlass';

.wrapperCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--width-content);
  gap: 1rem 2rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  border-radius: var(--border-radius-16);
  overflow: hidden;
  @extend %glass;

  &_rowReverse {
    flex-direction: row-reverse;
    text-align: right;
  }

  &__img,
  &__background {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  &__background {
    position: absolute;
    top: 0;
    min-height: 225px;
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1.5rem;
    height: 100%;
    max-width: 40ch;
    width: 100%;
    gap: 1.3rem;
  }

  &:hover {
    .card__background {
      visibility: visible;
    }

    .card__img {
      visibility: hidden;
    }

    @each $card in cards.$cardName {
      .card_imgTransition_#{$card} {
        @include bgImg.animationBackgroundImage($card);
      }
    }
  }
}

.description__title {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Radio Canada';
}

.description__text {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  word-wrap: break-word;
}

.description__links {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  gap: 1rem;
}

.text {
  &__title {
    display: flex;
    align-items: stretch;
    margin: 0;
    font-size: 1.17rem;

    &_link {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      width: 1.25rem;
      margin-left: 1.4rem;
    }
  }

  &__desc {
    margin: 0.5rem 0 0;
    line-height: 140%;
  }
}
