.introduction {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10rem;
  height: 100vh;

  &__name {
    font-size: 1.8rem;
  }

  &__perfil {
    font-size: 1.4rem;
  }
}

.msgContact {
  text-align: center;
  font-family: 'Poppins', Helvetica, Verdana, Arial;
}

.parraph {
  max-width: 65ch;
  margin: 1rem auto;
}

.wrapperContent {
  position: absolute;
  top: 0;
  width: 100%;
  color: var(--color-white);
}
