.introduction {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10rem;
  height: 100vh;

  &__name {
    font-size: 1.8rem;
  }

  &__perfil {
    font-size: 1.4rem;
  }
}

.personalImage {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right 0;
     object-position: right 0;
}

.msgContact {
  text-align: center;
  font-family: 'Poppins', Helvetica, Verdana, Arial;
}

.parraph {
  max-width: 65ch;
  margin: 1rem auto;
}

.wrapperContent {
  max-width: var(--width-content);
  width: 100%;
  margin: 0 auto;
}
