.projects {
	&__title {
		width: fit-content;
		-webkit-box-reflect: below 0.6875rem linear-gradient(transparent 0%, #fff);

		&_largeReflectionSeparation {
			-webkit-box-reflect: below 0.6875rem linear-gradient(transparent 0%, #fff);
		}
	}

	&__projectList {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: center;
		gap: 4rem;
		width: 100%;
		list-style-type: none;
	}
}
