:root {
	--color-black-pure: #000;
	--color-black: #0e0e10;
	--color-black-1: #18181b;
	--color-black-2-alpha-95: rgb(42 42 45 / 0.95);
	--color-black-pure-alpha-50: rgba(0, 0, 0, 0.5);
	--color-black-pure-alpha-80: rgba(0, 0, 0, 0.8);
	--color-white-pure: #fff;
	--color-white-pure-alpha-90: rgb(255 255 255 / 0.9);
	--color-primary: #75eff8;
	--color-crypted-text: #d43030;
	--color-secondary: #0d7392;
	--color-secondary-alpha-75: rgba(15, 130, 165, 0.75);
	--color-secondary-alpha-50: rgba(13, 139, 178, 0.5);
	--color-secondary-dark: #014d64;
	--color-tertiary: #dec55d;
	--color-tertiary-dark: #917e2f;
	--color-scrollbar-card: rgb(117 239 248 / 0.2);
	--color-scrollbar-thumb-card: rgb(117 239 248 / 0.5);
	--shadow-color-1-card-project: rgb(117 239 248 / 0.16);
	--shadow-color-2-card-project: rgb(117 239 248 / 0.12);
	--width-content: 75rem;
	--border-radius-8: 0.5rem;
	--border-radius-10: 0.625rem;
	--height-nav-item: 2.375rem;
	--invert-icon: 1;
}

:root {
	--color-menu-item: var(--color-tertiary);
	--background-color-body: var(--color-black);
	--color-letter-body: var(--color-white-pure-alpha-90);
	--address-color: var(--color-primary);
	--border-tech: var(--color-primary);
	--color-line: var(--color-black-pure-alpha-80);
	--url-icon: var(--color-menu-item);
	--shadow-project-image: drop-shadow(0px 2px 2px rgb(255 255 255 / 0.12))
		drop-shadow(0px 2px 5px rgb(255 255 255 / 0.16));
}

*,
::after,
::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color-body);
	color: var(--color-letter-body);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5rem;
	transition: background-color linear 400ms;
	overflow-x: hidden;
}

body:is(.light) {
	--background-color-body: #ececec;
	--color-letter-body: var(--color-black);

	--address-color: var(--color-secondary-dark);
	--border-tech: var(--color-secondary);
	--url-icon: var(--color-tertiary-dark);
	--shadow-project-image: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.12))
		drop-shadow(0px 2px 5px rgb(0 0 0 / 0.16));
	--invert-icon: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}

	body {
		transition-delay: 0;
	}
}
