:root {
	--color-black: #0e0e10;
	--color-black-1: #18181b;
	--color-black-2-alpha-95: rgb(42 42 45 / 0.95);
	--color-black-pure-alpha-50: rgba(0, 0, 0, 0.5);
	--color-white: #e1dbdb;
	--color-white-pure: #fff;
	--color-white-pure-alpha-90: rgb(255 255 255 / 0.9);
	--color-primary: #c7a76e;
	--color-secondary: #75eff8;
	--color-secondary-alpha-75: rgba(15, 130, 165, 0.75);
	--color-secondary-dark: #014d64;
	--color-tertiary-dark: #685a1f;
	--width-content: 87.5rem;
	--height-nav-item: 2.375rem;
	--border-radius-6: 0.375rem;
	--border-radius-8: 0.5rem;
	--border-radius-10: 0.625rem;
	--border-radius-16: 1rem;
}

:root {
	--color-menu-item: var(--color-primary);
	--background-color-body: #170125;
	--color-letter-body: var(--color-white-pure-alpha-90);
	--url-icon: var(--color-menu-item);
	--shadow-project-image: drop-shadow(0px 2px 2px rgb(255 255 255 / 0.12))
		drop-shadow(0px 2px 5px rgb(255 255 255 / 0.16));
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	width: 100%;
	background-color: var(--background-color-body);
	color: var(--color-white);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	transition: background-color linear 400ms;
	overflow-x: hidden;
}

.dot {
	position: absolute;
	inset: 0;
	margin-left: auto;
	margin-right: auto;
	width: var(--width-content);
	height: 100%;

	&:before {
		--dot-size: 1.25px;

		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		background-image: radial-gradient(
			circle,
			rgba(255, 255, 255, 0.6) var(--dot-size),
			transparent var(--dot-size)
		);
		background-size: calc(8% - 1px) 9.375rem;
		background-position-x: 0.25rem;
		animation: dotScroll 200s linear 0s infinite forwards;
		z-index: -1;
	}
}

body.light {
	--background-color-body: #ececec;
	--color-letter-body: var(--color-black);
	--url-icon: var(--color-tertiary-dark);
	--shadow-project-image: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.12))
		drop-shadow(0px 2px 5px rgb(0 0 0 / 0.16));
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
}

main {
	position: relative;
	z-index: 1;
}

@media (min-width: 22.5rem) {
	.dot:before {
		--dot-size: 2px;
	}
}

@media (min-width: 22.5625rem) {
	.dot:before {
		background-size: calc(10% - 1px) 15.625rem;
		background-position-x: -0.625rem;
	}
}

@media (min-width: 48rem) {
	.dot:before {
		background-position-x: -0.625rem;
		background-size: calc(14.2857142857% - 1px) 15.625rem;
	}
}

@media (min-width: 64rem) {
	.dot:before {
		background-position-x: 0.625rem;
	}
}

@media (min-width: 80rem) {
	.dot:before {
		background-position-x: -3.375rem;
	}
}

@media (min-width: 87.5rem) {
	.dot:before {
		background-position-x: -0.25rem;
	}
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}

	body {
		transition-property: none;
	}

	.dot_before {
		animation-duration: 500s;
	}
}

@font-face {
	font-family: 'Poppins';
	font-display: 'fallback';
	src:
		local('Poppins Regular'),
		local('Poppins-Regular'),
		url('/fonts/Poppins-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@keyframes dotScroll {
	from {
		background-position-y: 100%;
	}
	to {
		background-position-y: 0%;
	}
}
