.project {
	width: 100%;
	margin-bottom: 9rem;

	&__descriptionContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 450px;
		margin-bottom: 4rem;

		&_mb-0 {
			margin-bottom: 0;
		}

		& > *:first-child {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	&__title {
		position: relative;
		display: block;
		width: fit-content;

		&__text {
			margin-bottom: 1.5rem;
			font-weight: 600;
			font-size: 2.25rem;
			line-height: 2.5rem;
		}

		&__url {
			position: absolute;
			bottom: -0.25rem;
			right: -2rem;
			width: 1.5rem;
			height: auto;
		}
	}

	&__description {
		max-width: 55ch;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	&__techs {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	&__introImgContainer {
		position: relative;
		width: fit-content;
		margin-top: 3rem;
		margin-left: auto;
		margin-right: auto;

		& img {
			position: relative;
			height: auto;
			margin: 1rem auto 0;
			border-radius: 8px;
		}

		&_mb-0 img {
			margin-bottom: 0;
		}
	}

	&__wrapperImages {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 3rem;
		justify-items: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		& img {
			border-radius: 8px;
			box-shadow: 0 2px 2px rgb(255 255 255 / 0.12), 0 2px 10px rgb(255 255 255/ 0.16);
		}
	}
}

.techs {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
}

.tech {
	width: fit-content;
	padding: 0.2rem 0.6rem;
	border: solid 2px var(--color-primary);
	border-radius: 40px;
}

@media screen and (min-width: 976px) {
	.project__title__url {
		position: relative;
		bottom: -0.5rem;
		right: 0;
	}

	.project__descriptionContainer {
		&_rowReverse {
			flex-direction: row-reverse;
		}

		&_row {
			flex-direction: row;
		}
	}

	.project__introImgContainer {
		margin-top: 0;

		img {
			top: 50%;
			width: 650px;
			transform: translateY(-50%);
		}

		&_left img {
			left: -40%;
		}

		&_right img {
			right: -40%;
		}
	}
}
