.mainProject {
	margin-bottom: 9rem;

	&__descriptionContainer {
		display: flex;
		align-items: center;
		gap: 4.5rem;
	}

	&__title {
		position: relative;
		display: block;
		width: fit-content;
		margin-bottom: 1.5rem;
		font-weight: 600;
		font-size: 1.875rem;
		line-height: 2.25rem;

		& a:focus &__urlIcon {
			outline: solid 3px var(--color-secondary);
			outline-offset: 3px;
			border-radius: 0.375rem;
		}

		&__urlIcon {
			--size-icon: 1.5rem;

			position: absolute;
			bottom: -0.25rem;
			right: -3rem;
			width: fit-content;
			stroke: var(--url-icon);
		}
	}

	&__description {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	&__repositoryLink {
		font-weight: 600;
	}

	&__paragraph {
		margin-bottom: 0.8em;
	}

	&__techList {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin-top: 2rem;
	}

	&__tech {
		padding: 0.3em 0.7em;
		border: solid 0.1875rem var(--color-secondary);
		border-radius: 2.5rem;
	}

	&__mainImage {
		position: relative;

		& img {
			height: fit-content;
			border-radius: var(--border-radius-8);
			object-fit: contain;
		}

		&:after,
		&:before {
			--size-circle: 50%;

			content: '';
			position: absolute;
			display: block;
			width: var(--size-circle);
			height: var(--size-circle);
			filter: blur(2.5rem);
			border-radius: 50%;
			animation: 3s linear 0s infinite running light;
			z-index: -1;
		}

		&:after {
			right: -5%;
			top: 10%;
			background-image: radial-gradient(var(--color-primary) 10%, transparent);
		}

		&:before {
			left: -5%;
			top: 25%;
			background-image: radial-gradient(#6dbc66 10%, transparent);
		}
	}

	&__wrapperImages {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
		justify-items: center;
		gap: 3rem;
		margin-top: 10rem;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		list-style-type: none;

		& img {
			border-radius: var(--border-radius-8);
			object-fit: cover;
		}
	}

	&__mainImage img,
	&__wrapperImages img {
		filter: var(--shadow-project-image);
	}
}

@media (hover: hover) {
	.mainProject__repositoryLink:hover {
		text-decoration: underline;
		color: var(--color-secondary);
	}
}

@media (hover: none) {
	.mainProject__repositoryLink {
		text-decoration: underline;
	}
}
