.itemProjectCard {
	--rotate-card: 0.5deg;

	position: relative;
	background-image: var(--bg-card);
	border-radius: 1rem;
	color: #fff;
	transition: opacity 300ms ease-in-out;
	opacity: 1;
	overflow: hidden;

	&:not(.hidden) > .projectCard {
		transform: translate(0, 0) scale(1);
	}

	&.hidden > .projectCard {
		transform: translate(0, 100%) scale(0.5);
	}

	& .projectCard__containerImg:after {
		background-image: linear-gradient(transparent 5%, var(--color-shadow-after) 80%);
	}

	& .projectCard__pageLink {
		background-color: var(--color-bottom-card);
	}

	&:nth-child(2n + 1) {
		transform: rotate(calc(-1 * var(--rotate-card)));

		& .projectCard {
			transform: rotate(var(--rotate-card));
		}
	}

	&:nth-child(2n + 2) {
		transform: rotate(var(--rotate-card));

		& .projectCard {
			transform: rotate(calc(-1 * var(--rotate-card)));
		}
	}

	&:nth-child(6n + 1) {
		--color-1: #781074;
		--color-2: #781716;
		--color-shadow-after: var(--color-2);
		--color-bottom-card: var(--color-1);

		--bg-card: linear-gradient(30deg, var(--color-1) 10%, var(--color-2) 50%);
	}

	&:nth-child(6n + 2) {
		--color-1: #781074;
		--color-2: #781716;
		--color-shadow-after: var(--color-2);
		--color-bottom-card: var(--color-1);

		--bg-card: linear-gradient(30deg, var(--color-1) 10%, var(--color-2) 50%);
	}

	&:nth-child(2) {
		--color-1: #a12429;
		--line-color: #ececec;
		--color-shadow-after: var(--color-1);
		--color-bottom-card: var(--color-1);

		position: relative;
		background-color: var(--color-shadow-after);
		background-image: none;

		& .projectCard__patron {
			--height-patron: 5rem;
			--half-height-patron: calc(var(--height-patron) / 2);
			--border-width: 1.5rem;

			position: absolute;
			width: 100%;
			height: var(--height-patron);
			bottom: 16%;
			left: 0.625rem;
			z-index: -1;

			& .line-1,
			& .line-2 {
				position: relative;
				width: 0;
				height: 0;
				border-left: var(--border-width) solid transparent;
				border-right: var(--border-width) solid transparent;
				border-bottom: var(--half-height-patron) solid var(--line-color);

				&:after {
					content: '';
					position: absolute;
					bottom: calc(-1 * var(--half-height-patron));
					left: -0.75rem;
					width: 0;
					height: 0;
					border-left: 0.75rem solid transparent;
					border-right: 0.75rem solid transparent;
					border-bottom: 1.25rem solid var(--color-shadow-after);
				}
			}

			& .line-1 {
				filter: drop-shadow(4.5rem 0 var(--line-color)) drop-shadow(9rem 0 var(--line-color))
					drop-shadow(18rem 0 var(--line-color));
			}

			& .line-2 {
				transform: translate(2.25rem, 0) rotate(180deg);
				filter: drop-shadow(4.5rem 0 var(--line-color)) drop-shadow(-9rem 0 var(--line-color))
					drop-shadow(-18rem 0 var(--line-color));
			}

			& .line-1:after {
				filter: drop-shadow(4.5rem 0 var(--color-shadow-after))
					drop-shadow(9rem 0 var(--color-shadow-after))
					drop-shadow(18rem 0 var(--color-shadow-after));
			}

			& .line-2:after {
				filter: drop-shadow(4.5rem 0 var(--color-shadow-after))
					drop-shadow(-9rem 0 var(--color-shadow-after))
					drop-shadow(-18rem 0 var(--color-shadow-after));
			}
		}
	}

	&:nth-child(6n + 3) {
		--color-1: #612121;
		--color-2: #ce3821;
		--color-3: #8c2622;
		--color-4: #412424;
		--color-shadow-after: #6c2522;
		--color-bottom-card: var(--color-1);

		--bg-card: linear-gradient(
			to top,
			var(--color-1) 14%,
			var(--color-2) 18% 19%,
			var(--color-3) 28% 35%,
			var(--color-4) 95%
		);
	}

	&:nth-child(6n + 4) {
		--color-1: #d89d13;
		--color-2: #794b0a;
		--color-shadow-after: var(--color-2);
		--color-bottom-card: var(--color-1);

		--bg-card: radial-gradient(circle at 75% 120%, var(--color-1) 20%, var(--color-2) 45%);
	}

	&:nth-child(6n + 5) {
		--color-1: #0d4f7b;
		--color-2: #69d1f5;
		--color-shadow-after: var(--color-2);
		--color-bottom-card: var(--color-1);

		--bg-card: linear-gradient(to top, var(--color-1) 47%, var(--color-2) 60%);
	}

	&:nth-child(6n + 6) {
		--color-1: #178186;
		--color-2: #4a12a4;
		--color-shadow-after: var(--color-2);
		--color-bottom-card: var(--color-1);

		--bg-card: linear-gradient(-10deg, var(--color-1) 18%, var(--color-2) 32%);
	}
}

.itemProjectCard.hidden {
	opacity: 0;
}

.projectCard {
	display: flex;
	flex-direction: column;
	padding: 1.4rem;
	height: 100%;
	border-radius: 1rem;
	transition: transform 300ms ease-in-out;

	&__containerImg {
		position: relative;
		height: 10rem;

		&:after {
			content: '';
			position: absolute;
			display: block;
			bottom: 0;
			height: 25%;
			width: 100%;
		}
	}

	&__img {
		width: 100%;
		height: 10rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		opacity: 1;
	}

	&__info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__title {
		margin-top: 1.2em;
		margin-bottom: 0.8em;
		font-size: 1.25rem;
		line-height: 1.75rem;
		text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.8);
	}

	&__paragraph {
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		margin-bottom: 0.65em;
		font-size: 1rem;
		line-height: 1.5rem;
		overflow: hidden;

		&:last-of-type {
			margin-bottom: 3em;
		}
	}

	&__containerLinks {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: auto;
	}

	&__repositoryLink {
		--size-svg: 2.375rem;

		width: var(--size-svg);
		height: var(--size-svg);
		color: inherit;

		& svg {
			width: inherit;
			height: inherit;
			filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
		}
	}

	&__pageLink {
		padding: 0.6em 1em;
		border: solid 0.25rem #fff;
		border-radius: 6px;
		font-weight: 800;
		box-shadow:
			0 2px 5px rgba(0, 0, 0, 0.16),
			0 2px 10px rgba(0, 0, 0, 0.12);
	}
}

@media (hover: hover) {
	.itemProjectCard {
		--rotate-shyne: -45deg;

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 3.75rem;
			height: 200%;
			top: 0;
			left: 0;
			background-image: linear-gradient(
				to right,
				transparent 5%,
				rgba(255, 255, 255, 0.4) 49% 51%,
				transparent 95%
			);
			transform: rotate(var(--rotate-shyne)) translateX(-10rem);
			transform-origin: 0;
			transition: transform ease 500ms;
		}

		&:hover:after {
			transform: rotate(var(--rotate-shyne)) translateX(40.9375rem);

			@media (min-width: 100rem) {
				transform: rotate(var(--rotate-shyne)) translateX(50.3125rem);
			}
		}
	}
}

@media (min-width: 100rem) {
	.projectCard__title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.projectCard__paragraph {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.projectCard__pageLink {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}

	.projectCard__repositoryLink {
		--size-svg: 3.5rem;
	}
}
