.bubbleGroup {
  position: fixed;
  width: 100%;
  min-height: 110vh;
  background-color: var(--color-background-bubbles);
  overflow: hidden;
  z-index: -1;
}

.bubble {
  position: absolute;
  border-radius: 50%;
}

@for $number from 1 through 5 {
  .bubble#{$number} {
    background: radial-gradient(
      circle closest-side,
      var(--color-bubbles) 10%,
      transparent
    );
    box-shadow: 0 0 60px var(--color-bubbles-075);
  }
}

.bubble1 {
  top: 5%;
  right: 68%;
  width: 25vmax;
  height: 25vmax;
  -webkit-animation: move 5s linear infinite;
  animation: move 5s linear infinite;
}

.bubble2 {
  top: 85%;
  right: 5%;
  width: 20vmax;
  height: 20vmax;
  -webkit-animation: move 3s linear infinite;
  animation: move 3s linear infinite;
}

.bubble3 {
  top: 71%;
  right: 64%;
  width: 19vmax;
  height: 19vmax;
  -webkit-animation: move 3s linear infinite;
  animation: move 3s linear infinite;
}

.bubble4 {
  top: 18%;
  right: 25%;
  width: 13vmax;
  height: 13vmax;
  -webkit-animation: move 6s linear infinite;
  animation: move 6s linear infinite;
}

.bubble5 {
  top: 70%;
  right: 37%;
  width: 6vmax;
  height: 6vmax;
  -webkit-animation: move 6s linear infinite;
  animation: move 6s linear infinite;
}

@-webkit-keyframes move {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes move {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@media (prefers-reduced-motion: reduce) {
  .bubble1,
  .bubble2,
  .bubble3,
  .bubble4,
  .bubble5 {
    -webkit-animation: none;
    animation: none;
  }
}
