@use 'sass:map';
@use 'sass:list';

@use '../maps/cardImages';

@mixin animationBackgroundImage($card) {
  $imagesList: map.get(cardImages.$cardImages, $card);
  $length: list.length($imagesList);

  @if ($length == 2) {
    -webkit-animation: 8s linear 0s infinite changeTwoImages_#{$card};
    animation: 8s linear 0s infinite changeTwoImages_#{$card};

    @-webkit-keyframes changeTwoImages_#{$card} {
      0% {
        background-image: url(list.nth($imagesList, 1));
      }
      19% {
        background-image: url(list.nth($imagesList, 1));
      }
      31% {
        background-image: url(list.nth($imagesList, 2));
      }
      69% {
        background-image: url(list.nth($imagesList, 2));
      }
      81% {
        background-image: url(list.nth($imagesList, 1));
      }
      100% {
        background-image: url(list.nth($imagesList, 1));
      }
    }

    @keyframes changeTwoImages_#{$card} {
      0% {
        background-image: url(list.nth($imagesList, 1));
      }
      19% {
        background-image: url(list.nth($imagesList, 1));
      }
      31% {
        background-image: url(list.nth($imagesList, 2));
      }
      69% {
        background-image: url(list.nth($imagesList, 2));
      }
      81% {
        background-image: url(list.nth($imagesList, 1));
      }
      100% {
        background-image: url(list.nth($imagesList, 1));
      }
    }
  }

  @if ($length == 3) {
    -webkit-animation: 12s linear 0s infinite changeThreeImages_#{$card};
    animation: 12s linear 0s infinite changeThreeImages_#{$card};

    @-webkit-keyframes changeThreeImages_#{$card} {
      0% {
        background-image: url(list.nth($imagesList, 1));
      }
      13% {
        background-image: url(list.nth($imagesList, 1));
      }
      21% {
        background-image: url(list.nth($imagesList, 2));
      }
      46% {
        background-image: url(list.nth($imagesList, 2));
      }
      54% {
        background-image: url(list.nth($imagesList, 3));
      }
      79% {
        background-image: url(list.nth($imagesList, 3));
      }
      87% {
        background-image: url(list.nth($imagesList, 1));
      }
      100% {
        background-image: url(list.nth($imagesList, 1));
      }
    }

    @keyframes changeThreeImages_#{$card} {
      0% {
        background-image: url(list.nth($imagesList, 1));
      }
      13% {
        background-image: url(list.nth($imagesList, 1));
      }
      21% {
        background-image: url(list.nth($imagesList, 2));
      }
      46% {
        background-image: url(list.nth($imagesList, 2));
      }
      54% {
        background-image: url(list.nth($imagesList, 3));
      }
      79% {
        background-image: url(list.nth($imagesList, 3));
      }
      87% {
        background-image: url(list.nth($imagesList, 1));
      }
      100% {
        background-image: url(list.nth($imagesList, 1));
      }
    }
  }

  @if ($length == 4) {
    -webkit-animation: 16s linear 0s infinite changeFourImages_#{$card};
    animation: 16s linear 0s infinite changeFourImages_#{$card};

    @-webkit-keyframes changeFourImages_#{$card} {
      0% {
        background-image: url(list.nth($imagesList, 1));
      }
      10% {
        background-image: url(list.nth($imagesList, 1));
      }
      15% {
        background-image: url(list.nth($imagesList, 2));
      }
      35% {
        background-image: url(list.nth($imagesList, 2));
      }
      40% {
        background-image: url(list.nth($imagesList, 3));
      }
      60% {
        background-image: url(list.nth($imagesList, 3));
      }
      65% {
        background-image: url(list.nth($imagesList, 4));
      }
      85% {
        background-image: url(list.nth($imagesList, 4));
      }
      90% {
        background-image: url(list.nth($imagesList, 1));
      }
      100% {
        background-image: url(list.nth($imagesList, 1));
      }
    }

    @keyframes changeFourImages_#{$card} {
      0% {
        background-image: url(list.nth($imagesList, 1));
      }
      10% {
        background-image: url(list.nth($imagesList, 1));
      }
      15% {
        background-image: url(list.nth($imagesList, 2));
      }
      35% {
        background-image: url(list.nth($imagesList, 2));
      }
      40% {
        background-image: url(list.nth($imagesList, 3));
      }
      60% {
        background-image: url(list.nth($imagesList, 3));
      }
      65% {
        background-image: url(list.nth($imagesList, 4));
      }
      85% {
        background-image: url(list.nth($imagesList, 4));
      }
      90% {
        background-image: url(list.nth($imagesList, 1));
      }
      100% {
        background-image: url(list.nth($imagesList, 1));
      }
    }
  }
}
