@mixin animationBubble($top, $right, $diameter, $time) {
  top: $top;
  right: $right;
  width: $diameter;
  height: $diameter;
  -webkit-animation: move $time linear infinite;
  animation: move $time linear infinite;
}

@-webkit-keyframes move {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes move {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
