@use '../../placeholder/bottomLine';

.section {
  height: 100vh;

  &__theme {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6rem;
    min-height: 100vh;
  }

  &__title {
    position: relative;
    margin: 2rem auto 3rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2.5rem;
    font-size: clamp(2rem, 1.8697rem + 0.8403vw, 2.5rem);
    font-family: 'Radio Canada';
    text-align: center;

    &::before {
      @extend %bottomLine;
      bottom: -5px;
    }
  }

  &__paragraph {
    margin: 0 auto 0.5rem;
    max-width: 65ch;
    font-size: 1.25rem;
    font-family: 'Poppins';
    line-height: 140%;
  }
}
