@use '../../placeholder/bottomLine';

.section {
  height: 100vh;

  &__theme {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    margin-bottom: 10rem;

    &_last {
      margin-bottom: 3rem;
    }
  }

  &__title {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2rem auto 3rem;
    text-align: center;
    font-family: 'Radio Canada', Helvetica, Verdana, Arial;

    &::before {
      @extend %bottomLine;
      bottom: -5px;
    }
  }

  &__paragraph {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', Helvetica, Verdana, Arial;
    line-height: 170%;
  }
}
