@use '../mixins/mixins';

$sideFoto: calc(var(--width-dataBar) - 2rem);

.barData {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: var(--color-dataBar-grey);

  &__foto {
    @include mixins.sides($sideFoto, $sideFoto);
    border-radius: 100%;
    box-shadow: 1px -1px 2px var(--color-white), 1px 1px 2px var(--color-white);
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
  }

  &__navbar {
    color: var(--color-white);
    padding: 1rem 0;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: var(--width-dataBar);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style: none;
  gap: 1.5rem 0;

  &__section {
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.5rem 0;

    &.isActive {
      background: #a50e82;
      color: var(--color-black);
    }
  }
}

.line {
  @include mixins.sides($sideFoto, 1px);
  background: linear-gradient(
    to left,
    transparent 1%,
    var(--color-white) 25% 75%,
    transparent 99%
  );
}

.socialCard {
  display: flex;
  width: $sideFoto;
  justify-content: space-evenly;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    &:hover {
      background: var(--color-white);
      border-radius: 6px;
      -webkit-filter: none;
      filter: none;
    }

    &_blackBackground {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
}
