.bubbleGroup {
  position: fixed;
  max-width: calc(100vw - 200px);
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-bubbles);
  -webkit-filter: blur(8px);
  filter: blur(8px);
  overflow: hidden;
  z-index: -1;
}

.bubble {
  position: absolute;
  border-radius: 50%;
}

@for $number from 1 through 4 {
  .bubble#{$number} {
    background: radial-gradient(
      circle closest-side,
      var(--color-bubbles) 10%,
      transparent
    );
    box-shadow: 0 0 60px var(--color-bubbles-075);
  }
}

.bubble1 {
  top: 90px;
  left: 100px;
  width: 25vw;
  height: 25vw;
  -webkit-animation: move 5s linear infinite;
  animation: move 5s linear infinite;
}

.bubble2 {
  bottom: -14vw;
  right: -14vw;
  width: 28vw;
  height: 28vw;
  -webkit-animation: move 3s linear infinite;
  animation: move 3s linear infinite;
}

.bubble3 {
  top: 80vh;
  left: 20vw;
  width: 10vw;
  height: 10vw;
  -webkit-animation: move 3s linear infinite;
  animation: move 3s linear infinite;
}

.bubble4 {
  top: 38vh;
  right: 15vw;
  width: 15vw;
  height: 15vw;
  -webkit-animation: move 3s linear infinite;
  animation: move 6s linear infinite;
}

@-webkit-keyframes move {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes move {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
