@use '../../placeholder/efectGlass';

.glass {
  padding: 1.5rem 3rem;
  margin: 0 auto;
  font-family: 'Radio Canada', -apple-system, Helvetica, Verdana, Arial;
  border-radius: var(--border-radius-8);
  @extend %glass;

  &_presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
