.knowledge {
	width: 5rem;
	margin: 0 auto;

	&__img {
		width: 100%;
		height: 6.25rem;
		vertical-align: middle;
		transition: transform 300ms ease-in-out;
	}

	&__name {
		margin-top: 0.8em;
		text-align: center;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	&__wrap {
		margin: 0;
	}
}

@media screen and (min-width: 36.25rem) {
	.knowledge {
		width: 6.25rem;
	}

	.knowledge__name {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
