%menuButtonLine {
  position: absolute;
  height: 0.25rem;
  width: 1.8rem;
  background-color: var(--color-black-pure-alpha-80);
  border-radius: 0.125rem;
}

.menu {
  --dist-position: 2rem;

  position: fixed;
  bottom: var(--dist-position);
  right: var(--dist-position);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3.4rem;
  background-color: var(--color-bubbles);
  border-style: none;
  border-radius: var(--border-radius-10);
  visibility: hidden;

  &.collapse {
    .menu__line {
      &::before,
      &::after {
        top: 0;
        opacity: 0;
      }
    }
  }

  &__line {
    @extend %menuButtonLine;

    &::before,
    &::after {
      --transition-line: 300ms;

      content: '';
      @extend %menuButtonLine;
      left: 0;
      transition: top var(--transition-line) ease-in,
        opacity var(--transition-line) ease-in;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}
