%menuButtonLine {
  --height-line: 0.25rem;

  position: absolute;
  height: var(--height-line);
  width: 1.8rem;
  background-color: var(--color-black-pure-alpha-80);
  border-radius: calc(var(--height-line) / 2);
}

.menu {
  --dist-position: 2rem;

  position: fixed;
  bottom: var(--dist-position);
  right: var(--dist-position);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3.4rem;
  background-color: var(--color-secondary);
  border-style: none;
  border-radius: var(--border-radius-10);
  z-index: 100;

  &.collapse .menu__line {
    $color-shadow: transparent;

    box-shadow: 0 0 $color-shadow, 0 0 $color-shadow;
  }

  &__line {
    @extend %menuButtonLine;

    $position-top-line: calc(2 * var(--height-line));
    $position-bottom-line: calc(-2 * var(--height-line));

    box-shadow: 0 $position-top-line var(--color-black-pure),
      0 $position-bottom-line var(--color-black-pure);

    transition: box-shadow 300ms ease-in;
  }
}
