---
// Components
import Layout from '@/layouts/Layout.astro'
import Section from '@/layouts/Section.astro'
import Header from '@components/Header.astro'
import SocialCard from '@components/SocialCard.astro'
import Project from '@components/Project.astro'

// Styles
import '@assets/styles/normalize.css'

// Data
import projects from '@/db/projects.json'
---

<Layout title="Giuliano Cappa">
	<Header />
	<main>
		<Section classes="introduction" id="home">
			<img src="/photo.webp" alt="Foto" class="introduction__img" width="250" height="250" />
			<div class="introduction__text">
				<h1 class="introduction__title">
					<span>¡Hola! Soy</span><span>Giuliano Martín Cappa</span>
				</h1>
				<!-- Texto encriptado a ROT-13 -->
				<h2 class="introduction__subtitle">Qrfneebyynqbe Sebag Raq</h2>
				<SocialCard />
			</div>
		</Section>
		<Section classes="section_min-h-screen">
			<h3 class="section__title" id="about-me">Sobre mí</h3>
			<div class="section__text">
				<p class="section__paragraph">
					Bienvenido, probablemente, ahora mismo esté continuando un proyecto o aprendiendo, si no
					es así, estaré trabajando, leyendo historias de terror o jugando. Aquí podrás ver mis
					diferentes proyectos.
				</p>
			</div>
		</Section>
		<Section id="viewBtnToTop">
			<h3 class="section__title" id="projects">Proyectos</h3>
			{projects.map((project, ind) => <Project project={project} isReverse={ind % 2 !== 0} />)}
		</Section>
		<Section>
			<h3 class="section__title" id="contact">Contacto</h3>
			<div class="section__text">
				<p class="section__paragraph">
					Muchas gracias por ver llegado hasta aquí. Espero que este portfolio haya sido de tu
					agrado.
				</p>
				<p class="section__paragraph">
					Contacta conmigo a través del correo electrónico o redes sociales. ¡Hasta pronto!
				</p>
				<address>
					<a href="mailto:cappa.giuliano@gmail.com"> cappa.giuliano@gmail.com</a>
				</address>
			</div>
			<SocialCard />
		</Section>
	</main>
</Layout>
