---
import Layout from '@/layouts/Layout.astro'

import { ITEMS_NAV } from '@/values'

import AboutMe from '@components/AboutMe/AboutMe.astro'
import ContactSection from '@components/Contact/ContactSection.astro'
import Header from '@components/Header.astro'
import Introduction from '@components/Introduction/Introduction.astro'
import ProjectList from '@components/Projects/ProjectList.astro'

const getKeys = Object.keys as <T extends object>(obj: T) => Array<keyof T>
const section_ids = Object.fromEntries(getKeys(ITEMS_NAV).map((item) => [item, item]))
---

<Layout title="Giuliano Cappa">
	<Header />
	<main id={section_ids.mainContent}>
		<Introduction />
		<ProjectList sectionid={section_ids.projects} />
		<AboutMe sectionid={section_ids['about-me']} />
		<ContactSection sectionid={section_ids.contact} />
	</main>
</Layout>
