---
import Section from '@/layouts/Section.astro'
import SocialCard from '@components/SocialCard.astro'

import i18n from '@assets/translations/i18n.json'

interface Props {
	sectionid: string
}

const { sectionid } = Astro.props

const { contact } = i18n.es
const { FIRST_PARAGRAPH, SECOND_PARAGRAPH, TITLE } = contact
---

<Section addClass="section__contact">
	<h3 class="section__title section__contact__title" id={sectionid}>{TITLE}</h3>
	<div class="section__contact__text">
		<p class="section__contact__paragraph">
			{FIRST_PARAGRAPH}
		</p>
		<p class="section__contact__paragraph">
			{SECOND_PARAGRAPH}
		</p>
		<address class="section__contact__address">
			<a href="mailto:cappa.giuliano@gmail.com">cappa.giuliano@gmail.com</a>
		</address>
	</div>
	<SocialCard />
</Section>
