---
// Styles
import '@assets/styles/components/ButtonToTop/index.css'
---

<button class="buttonToTop" aria-label="Ir a la parte superior de la página.">
	<img src="/images/Hearstone.webp" alt="" width="54" height="48" />
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xml:space="preserve"
		width="800"
		height="800"
		viewBox="0 0 512 512"
	>
		<path fill="#fff" d="M247.5 0 34.2 213.3v128l170.6-170.6V512h85.4V170.7l170.6 170.6v-128z"
		></path>
	</svg>
</button>

<script src="@utils/goUp.js"></script>
