---
// Styles
import '@assets/styles/components/ButtonToTop/index.css'
---

<button class="buttonToTop" aria-label="Ir a la parte superior de la página.">
	<svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" fill="none" viewBox="0 0 24 24"
		><path
			stroke="#323232"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M12 8v8m3-5-2.91-2.91v0a.12.12 0 0 0-.18 0v0L9 11"></path></svg
	>
</button>

<script src="@utils/goUp.js"></script>
