---
// Styles
import '@assets/styles/components/Header/index.css'

// Images
import logo from '/logo.webp'
import ButtonToTop from './ButtonToTop.astro'

const ITEMS_NAV = [
	['INICIO', 'home'],
	['SOBRE MÍ', 'about-me'],
	['PROYECTOS', 'projects'],
	['CONOCIMIENTOS', 'knowledge'],
	['CONTACTO', 'contact']
]
---

<a href="#home" class="skipNavLinks">Ir al contenido principal</a>

<div class="asideButtons">
	<ButtonToTop />
	<button class="menuBtn" aria-hidden="true" aria-label="Menú de navegación" aria-expanded="false">
		<span class="menuBtn__line"></span>
	</button>
</div>

<header class="headerPage">
	<div class="headerPage__container">
		<img src={logo} alt="Giuliano Cappa" class="logo" width="38" height="38" />
		<nav class="nav">
			<ul class="navMenu">
				{
					ITEMS_NAV.map((item_menu) => (
						<li class="navMenu__item">
							<a href={`#${item_menu[1]}`}>{item_menu[0]}</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>

<script src="../utils/handlerMenu.js"></script>
