---
import '@assets/styles/components/SocialCard/index.css'
---

<div class="socialCard">
	<a
		href="https://github.com/Martiks38?tab=repositories"
		target="_blank"
		class="socialCard__link socialCard__link_invert"
		title="Ir al repositorio GitHub"
		aria-label="Ver projectos en GitHub"
		rel="noopener noreferrer"
	>
		<svg>
			<use href="/sprites/socialSprite.svg#github"></use>
		</svg>
	</a>
	<a
		href="https://www.linkedin.com/in/giuliano-cappa"
		target="_blank"
		class="socialCard__link"
		title="Ir al perfil de LinkedIn"
		aria-label="Ir al perfil de LinkedIn"
		rel="noopener noreferrer"
	>
		<svg>
			<use href="/sprites/socialSprite.svg#linkedin"></use>
		</svg>
	</a>
	<a
		href="mailto:cappa.giuliano@gmail.com"
		class="socialCard__link"
		title="Enviar correo electrónico"
		aria-label="Enviar correo electrónico"
		rel="noopener noreferrer"
	>
		<svg>
			<use href="/sprites/socialSprite.svg#gmail"></use>
		</svg>
	</a>
</div>
