@media only screen and (max-width: 61.9375rem) {
  .card-containerImg {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    aspect-ratio: auto;

    &::-webkit-scrollbar-track {
      margin-block: 0.5em;
    }
  }

  .card-containerImg::-webkit-scrollbar {
    height: 8px;
    background-color: var(--color-scrollbar-card);
  }

  .card-containerImg::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb-card);
    border-radius: 100vh;
  }

  .card-img {
    position: static;
    scroll-snap-align: center;
  }
}

@media screen and (min-width: 36.25rem) {
  .tech {
    width: 6.25rem;
  }

  .tech figure figcaption {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .section-title {
    &::after,
    &::before {
      --height: 4px;
      --width: 10vw;

      content: '';
      position: absolute;
      top: 50%;
      left: auto;
      bottom: auto;
      height: var(--height);
      max-width: 400px;
      width: var(--width);
      background-color: var(--color-secondary-alpha-75);
      border-radius: calc(var(--height) / 2);
    }

    &::after {
      left: calc(-1 * (var(--width) + 0.5em));
    }

    &::before {
      right: calc(-1 * (var(--width) + 0.5em));
    }
  }
}

@media screen and (min-width: 43.8125rem) {
  .navMenu {
    flex-direction: row;
  }
}

@media screen and (min-width: 48.5rem) {
  .header {
    position: static;
    transform: translateY(0%);
  }

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .navMenu__item:hover a::before {
    width: 100%;
  }

  .menu {
    visibility: hidden;
  }

  .section-introduction {
    min-height: auto;
    height: calc(100vh - 4.5rem);
  }
}

@media screen and (min-width: 61rem) {
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }

  .introduction-text {
    text-align: left;
  }

  .introduction-title-name {
    font-size: 2.75rem;
    line-height: 1;
  }

  .introduction-subtitle {
    font-size: 2rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
