.socialCard {
	
	&__links{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3.2em;
		margin-top: 1rem;
		color: var(--social-card);
		list-style-type: none;
	}

	&__link {
		--size-icon: 2.25rem;

		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 200ms ease-in-out;

		& svg {
			height: var(--size-icon, 2.375rem);
			width: var(--size-icon, 2.375rem);
		}
	}
}

@media (hover: hover) {
	.socialCard__link:hover {
		transform: scale(1.2);
	}
}

@media (min-width: 36.25rem) {
	.socialCard__link {
		--size-icon: 2.75rem;
	}
}

@media (min-width: 75rem) {
	.socialCard__links {
		justify-content: flex-start;
	}
}

@media (min-width: 100rem) {
	.socialCard__link {
		--size-icon: 3rem;
	}
}
