.socialCard {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.2em;
	margin-top: 1rem;
	color: var(--social-card);
	list-style-type: none;

	@media (min-width: 23.75rem) {
		margin-top: 0;
	}

	@media (min-width: 48.5rem) {
		justify-content: flex-start;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3rem;
		transition: transform 0.3s ease-in-out;

		& svg {
			height: 2.375rem;
			width: 2.375rem;
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}
