.socialCard {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.2em;
	margin-top: 1rem;
	color: var(--social-card);
	list-style-type: none;

	&__link {
		--size-icon: 2.5rem;

		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.3s ease-in-out;

		& svg {
			height: var(--size-icon, 38px);
			width: var(--size-icon, 38px);
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}

@media (min-width: 36.25rem) {
	.socialCard__link {
		--size-icon: 2.75rem;
	}
}

@media (min-width: 1200px) {
	.socialCard {
		justify-content: flex-start;
	}
}

@media (min-width: 100rem) {
	.socialCard__link {
		--size-icon: 3rem;
	}
}
