.socialCard {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.2em;
	margin-top: 1.6rem;

	&__button {
		display: flex;
		align-items: center;
		width: 3rem;
		transition: transform 0.3s ease-in-out;

		&_invert {
			filter: invert(var(--invert-icon));
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}
