.arrowDownBtn {
	--size-arrow: 2rem;

	position: absolute;
	bottom: 2rem;
	left: 50%;
	display: block;
	width: var(--size-arrow);
	height: var(--size-arrow);
	padding: 0;
	outline: solid 0.125rem transparent;
	outline-offset: 0.5rem;
	border-radius: 0.125rem;
	transform: translateX(-50%);
	opacity: 0.8;
}

.arrowDown {
	width: inherit;
	height: inherit;

	& path {
		fill: var(--border-tech);
	}
}

@media (hover: hover) {
	.arrowDownBtn:hover,
	.arrowDownBtn:focus {
		outline-color: var(--color-white);
	}
}

@media (min-width: 67.5rem) {
	.arrowDownBtn {
		--size-arrow: 2.5rem;
	}
}
