.buttonToTop {
	position: relative;
	width: 100%;
	height: 3rem;
	background-color: var(--color-secondary);
	border-width: 0;
	border-radius: var(--border-radius-8);
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	visibility: hidden;

	& :is(img, svg) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: inherit;
		height: 100%;
		object-fit: cover;
	}

	& img {
		opacity: 0;
		filter: brightness(1.55) drop-shadow(0 0 4px var(--color-primary));
	}

	& svg {
		opacity: 1;
		transition: opacity linear 100ms;
	}

	&.visible {
		visibility: visible;
	}

	&:focus,
	&:hover {
		background-color: rgb(22, 26, 84);

		& img {
			opacity: 1;
		}

		& svg {
			opacity: 0;
		}
	}
}
