.button {
  display: block;
  padding: 0.4rem 0.8rem;

  &.button-link {
    position: relative;
    background-color: transparent;
    color: var(--color-white-pure);
    border-radius: 0.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: color 300ms ease-in-out;
    border: solid 2px var(--color-primary);
    overflow: hidden;

    & .button-text {
      position: relative;
      z-index: 1;
    }
  }

  & > img {
    height: 100%;
    width: auto;
  }
}
