.button {
  display: block;
  padding: 0.4rem 1rem;

  &_link {
    $timeTransition: 300ms;
    $transition: $timeTransition ease-in-out;

    border-radius: var(--border-radius-8);
    background-color: var(--color-bubbles-alpha-50);
    color: var(--color-white-pure);
    font-family: 'Poppins';
    font-weight: 600;
    transition: background-color $transition, color $transition,
      transform $transition;

    &:hover {
      transform: scale(1.15);
      background-color: var(--color-bubbles);
      color: var(--color-black-pure);
    }
  }

  & > img {
    height: 100%;
    width: auto;
  }
}
