.button {
  display: block;
  padding: 0.4rem 1rem;

  &-link {
    $durationTransition: 300ms;
    $timingFunction: ease-in-out;

    border-radius: var(--border-radius-8);
    background-color: var(--color-secondary-alpha-50);
    color: var(--color-white-pure);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transform: scale(1);
    transition-property: background-color, color, transform;
    transition-duration: $durationTransition;
    transition-timing-function: $timingFunction;

    &:hover {
      transform: scale(1.15);
      background-color: var(--color-primary);
      color: var(--color-black-pure);
    }
  }

  & > img {
    height: 100%;
    width: auto;
  }
}
