@use '../../mixins';

.logo {
  height: 2.5rem;
  width: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-black-1);
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.header.menu-view {
  transform: translateY(0);
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  margin: 0 auto;
  padding: 1rem 2rem 2.5rem;
  max-width: var(--width-content);
  width: 100%;
  backdrop-filter: blur(50px);
}

.navMenu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  text-align: center;
  list-style-type: none;
  gap: 1em;

  &__item {
    color: var(--color-menu-item);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
}

.navMenu__item a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0.4em 0.75em;
}

.navMenu__item a::before {
  @include mixins.underline(4px, 0) {
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-secondary-alpha-75);
    transition: width 200ms cubic-bezier(0.83, 0.04, 0.7, 1);
  }
}

.skipNavLinks {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: var(--color-black-2-alpha-95);
  color: var(--color-menu-item);
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75rem;
  text-align: center;
  opacity: 0;

  &:focus {
    opacity: 1;
    z-index: 1;
  }
}
