---
import '@assets/styles/components/Section/index.css'

interface Props {
	addClass?: string
	id?: string
}

const { addClass, id } = Astro.props
---

<section class:list={['section', addClass]} id={id}>
	<slot />
</section>
