---
import clsx from 'clsx'
import '@assets/styles/components/Section/index.css'

// eslint-disable-next-line
interface Props {
	classes?: string
	id?: string
}

const { classes, id } = Astro.props
---

<section class={clsx(['section', classes])} id={id}>
	<slot />
</section>
