@use './components';
@use './content';
@use './media';

:root {
  /* Font Size */
  --font-size: 16px;

  /* Colors */
  --color-white: #eee;
  --color-black: #0d0d0d;
  --color-background-body: #0e0e10;
  --color-dataBar-grey: #1f1f23;
  --color-background-bubbles: #3c3c3c33;
  --color-bubbles: #0f82a5;
  --color-bubbles-075: #0f82a5bf;
  --color-background-msg: #544e00;
  --color-background-tab: #970e7a;
  --color-line-section: #c751af;
  --color-glass: #dedede11;
  --color-background-button: #0f82a5;
  --color-line-button: #161414e6;
  --color-background-text-card: #2d2d2df2;

  --width-dataBar: 10rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, verdana, helvetica, arial;
}

body {
  display: grid;
  grid-template-columns: var(--width-dataBar) 1fr;
  background-color: var(--color-background-body);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
  padding: 0 2rem 4rem;
}
