.button {
  display: block;
  padding: 0.4rem 1rem;
}
.button-link {
  border-radius: var(--border-radius-8);
  background-color: var(--color-secondary-alpha-50);
  color: var(--color-white-pure);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transform: scale(1);
  transition-property: background-color, color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.button-link:hover {
  transform: scale(1.15);
  background-color: var(--color-primary);
  color: var(--color-black-pure);
}
.button > img {
  height: 100%;
  width: auto;
}

.menu__line::before, .menu__line::after, .menu__line {
  position: absolute;
  height: 0.25rem;
  width: 1.8rem;
  background-color: var(--color-black-pure-alpha-80);
  border-radius: 0.125rem;
}

.menu {
  --dist-position: 2rem;
  position: fixed;
  bottom: var(--dist-position);
  right: var(--dist-position);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3.4rem;
  background-color: var(--color-secondary);
  border-style: none;
  border-radius: var(--border-radius-10);
  z-index: 100;
}
.menu.collapse .menu__line::before, .menu.collapse .menu__line::after {
  top: 0;
  opacity: 0;
}
.menu__line::before, .menu__line::after {
  --transition-line: 300ms;
  --line-height: 8px;
  content: "";
  left: 0;
  transition: top var(--transition-line) ease-in, opacity var(--transition-line) ease-in;
}
.menu__line::before {
  top: calc(-1 * var(--line-height));
}
.menu__line::after {
  top: var(--line-height);
}

.wrapperCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 2.5rem;
}

.card {
  display: grid;
  grid-template-rows: max-content auto;
  max-width: 350px;
  width: 100%;
  background-color: var(--color-black-1);
  font-family: "Poppins", sans-serif;
  border-radius: var(--border-radius-8);
  overflow: hidden;
  box-shadow: 0 2px 5px var(--shadow-color-1-card-project), 0 2px 10px var(--shadow-color-2-card-project);
}
.card-description {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
}
.card-description em, .card-description strong {
  color: var(--color-primary);
}
.card-description em {
  font-weight: bold;
  font-style: normal;
}
.card-containerImg {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: auto 2/1;
}
.card-img {
  --z: 1;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top center;
  transition: top 300ms;
}
.card-img.active {
  top: 0;
  box-shadow: 0 2px 10px var(--color-black-pure-alpha-50);
  z-index: calc(var(--z) + 1);
}
.card-img.start-out {
  z-index: var(--z);
}

.card-title {
  margin-top: 0;
  font-size: 1.4rem;
  line-height: 30px;
}

.card-text .card-paragraph:last-child {
  margin-bottom: 1.125em;
}

.card-paragraph {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
  line-height: 1.5rem;
}

.card-links {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  gap: 1rem;
}

.logo {
  height: 2.5rem;
  width: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-black-pure-alpha-50);
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.header.menu-view {
  transform: translateY(0);
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  margin: 0 auto;
  padding: 1rem 2rem 2.5rem;
  max-width: var(--width-content);
  width: 100%;
  backdrop-filter: blur(50px);
}

.navMenu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  text-align: center;
  list-style-type: none;
  gap: 1em;
}
.navMenu__item {
  color: var(--color-menu-item);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.navMenu__item a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0.4em 0.75em;
}

.navMenu__item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 2px;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-secondary-alpha-75);
  transition: width 200ms cubic-bezier(0.83, 0.04, 0.7, 1);
}

.introduction-img {
  --size-img: 220px;
  width: var(--size-img);
  height: var(--size-img);
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}
.introduction-text {
  text-align: center;
}
.introduction-title {
  font-size: 2rem;
  line-height: 2.5rem;
}
.introduction-subtitle {
  --line-height: 2.25rem;
  overflow-wrap: anywhere;
  font-size: 1.6rem;
  line-height: var(--line-height);
  color: var(--color-crypted-text);
  transition: color 300ms;
  height: calc(var(--line-height) * 2);
}

main .section:last-child {
  min-height: auto;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
main .section:last-child .section-paragraph {
  margin-left: auto;
  margin-right: auto;
  max-width: 40ch;
}
main .section:last-child address {
  color: var(--color-primary);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--width-content);
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}
.section-introduction {
  justify-content: space-between;
}
.section-paragraph {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.section-text {
  max-width: 60ch;
  width: 100%;
}

.section-title {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1.3em;
  font-family: "Radio Canada", sans-serif;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  bottom: -0.02em;
  background-color: var(--color-secondary-alpha-75);
}
.section-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-left: 0;
  margin: 0;
  max-width: 43.75rem;
  list-style-type: none;
}

.tech {
  width: 80px;
  margin: 0 auto;
}
.tech figure {
  margin: 0;
}
.tech figure figcaption {
  margin-top: 0.8em;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.tech figure img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.socialCard {
  display: flex;
  margin-top: 1.6rem;
  align-items: center;
  justify-content: center;
  gap: 1.4em;
}
.socialCard__button {
  width: 3rem;
  transition: transform 0.3s ease-in-out;
}
.socialCard__button_invert {
  filter: invert(1);
}
.socialCard__button:hover {
  transform: scale(1.2);
}
.socialCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media only screen and (max-width: 61.9375rem) {
  .card-containerImg {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    aspect-ratio: auto;
  }
  .card-containerImg::-webkit-scrollbar-track {
    margin-block: 0.5em;
  }
  .card-containerImg::-webkit-scrollbar {
    height: 8px;
    background-color: var(--color-scrollbar-card);
  }
  .card-containerImg::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb-card);
    border-radius: 100vh;
  }
  .card-img {
    position: static;
    scroll-snap-align: center;
  }
}
@media screen and (min-width: 36.25rem) {
  .tech {
    width: 6.25rem;
  }
  .tech figure figcaption {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .section-title::after, .section-title::before {
    --height: 4px;
    --width: 10vw;
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    bottom: auto;
    height: var(--height);
    max-width: 400px;
    width: var(--width);
    background-color: var(--color-secondary-alpha-75);
    border-radius: calc(var(--height) / 2);
  }
  .section-title::after {
    left: calc(-1 * (var(--width) + 0.5em));
  }
  .section-title::before {
    right: calc(-1 * (var(--width) + 0.5em));
  }
}
@media screen and (min-width: 43.8125rem) {
  .navMenu {
    flex-direction: row;
  }
}
@media screen and (min-width: 48.5rem) {
  .header {
    position: static;
    transform: translateY(0%);
  }
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .navMenu__item:hover a::before {
    width: 100%;
  }
  .menu {
    visibility: hidden;
  }
  .section-introduction {
    min-height: auto;
    height: calc(100vh - 4.5rem);
  }
}
@media screen and (min-width: 61rem) {
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
  .introduction-text {
    text-align: left;
  }
  .introduction-title-name {
    font-size: 2.75rem;
    line-height: 1;
  }
  .introduction-subtitle {
    font-size: 2rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  --color-black-pure: #000;
  --color-black: #0e0e10;
  --color-black-1: #18181b;
  --color-black-pure-alpha-50: rgba(0, 0, 0, 0.5);
  --color-black-pure-alpha-80: rgba(0, 0, 0, 0.8);
  --color-white-pure: #fff;
  --color-white-pure-alpha-90: rgb(255 255 255 / 0.9);
  --color-primary: #75eff8;
  --color-crypted-text: #d43030;
  --color-secondary: #0f82a5;
  --color-secondary-alpha-75: rgba(15, 130, 165, 0.75);
  --color-secondary-alpha-50: rgba(13, 139, 178, 0.5);
  --color-menu-item: #dec55d;
  --color-scrollbar-card: rgb(117 239 248 / 0.2);
  --color-scrollbar-thumb-card: rgb(117 239 248 / 0.5);
  --width-content: 56.25rem;
  --shadow-color-1-card-project: rgb(255 255 255 / 0.16);
  --shadow-color-2-card-project: rgb(255 255 255 / 0.12);
  --border-radius-8: 8px;
  --border-radius-10: 10px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  min-width: 22.5rem;
  background-color: var(--color-black);
  color: var(--color-white-pure-alpha-90);
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=index.css.map */
