@use './components';
@use './normalize';
@use './media-queries';

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5rem;

  --color-black-pure: #000;
  --color-black: #0e0e10;
  --color-black-1: #18181b;
  --color-black-2-alpha-95: rgb(42 42 45 / 0.95);
  --color-black-pure-alpha-50: rgba(0, 0, 0, 0.5);
  --color-black-pure-alpha-80: rgba(0, 0, 0, 0.8);

  --color-white-pure: #fff;
  --color-white-pure-alpha-90: rgb(255 255 255 / 0.9);

  --color-primary: #75eff8;
  --color-crypted-text: #d43030;

  --color-secondary: #0f82a5;
  --color-secondary-alpha-75: rgba(15, 130, 165, 0.75);
  --color-secondary-alpha-50: rgba(13, 139, 178, 0.5);

  --color-menu-item: #dec55d;

  --color-scrollbar-card: rgb(117 239 248 / 0.2);
  --color-scrollbar-thumb-card: rgb(117 239 248 / 0.5);

  --width-content: 56.25rem;

  --shadow-color-1-card-project: rgb(117 239 248 / 0.16);
  --shadow-color-2-card-project: rgb(117 239 248 / 0.12);

  --border-radius-8: 8px;
  --border-radius-10: 10px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-white-pure-alpha-90);
}

a {
  text-decoration: none;
  color: inherit;
}
